<!-- Modal file that provide additional
---- informationon every point brought up
-->

<!-- automatedTechModal -->
<div class="modal fade" id="automatedTechModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="automatedTechModal"><b>Technology at the speed of light</b></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        ScaleRep engages customers through several channels and has built-in logic to engage folks based on actions they take. Our data-driven processes make sure that you reach out to prospective clients when and where it matters most.
      </div>

      <br/>
      <%= image_tag "creative/marketing_automation.svg", class: "img-responsive", alt: "" %>



    </div>
  </div>
</div>


<!-- qualifiedAgentsModal -->
<div class="modal fade" id="qualifiedAgentsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"><b>The best scale reps at your service</b></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Our qualified sales team monitors your top-of-the-funnel sales processes. We believe that building a trustworthy workforce is paramount to scaling your sales.  
      </div>

      <br/>
      <%= image_tag "creative/best_people.png", class: "img-responsive", alt: "" %>

    </div>
  </div>
</div>


<!-- liveUpdatesModal -->
<div class="modal fade" id="dataModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"><b>Always know what's going on</b></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Always know how your outreach campaigns are performing, what mediums work best, and how many appointments have been scheduled for your account executives.
      </div>

      <br/>
      <%= image_tag "creative/actionable_lead.jpg", class: "img-responsive", alt: "" %>

    </div>
  </div>
</div>

<!-- efficientResultsModal -->
<div class="modal fade" id="efficientResultsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"><b>Data-Driven, Efficient Outcomes</b></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Our proprietary data-driven processes and experience in providing qualified sales leads makes us half the price of hiring another sales representative, all without the hassle of managing and training your team.
      </div>

      <br/>
      <%= image_tag "creative/efficient_results.jpg", class: "img-responsive", alt: "" %>

    </div>
  </div>
</div>

<!-- dataSourcingWorkflow -->
<div class="modal fade" id="dataSourcingWorkflow" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="automatedTechModal"><b>Source Targetted Data</b></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        We believe getting targetted data sets that cater to your buyer persona is paramount to your outbound engine. That's why
        we work with you and our external third-party data sources to provide you the most up to date data.
        <br><br>
        How It Works:
        <br>
        1. We'll work with you to generate five buyer personas<br>
        2. We'll find the best lead sources and update you with incoming leads<br>
        3. Enrich your lead list through our data scrubber. We'll eliminate leads with wrong contact info

      </div>

      <br/>
      <%= image_tag "creative/marketing_automation.svg", class: "img-responsive", alt: "" %>



    </div>
  </div>
</div>

<!-- campaignWorkflow -->
<div class="modal fade" id="campaignWorkflow" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="automatedTechModal"><b>Lead Generation</b></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        ScaleRep engages customers through several channels and has built-in logic to engage folks based on actions they take. Our data-driven processes make sure that you reach out to prospective clients when and where it matters most. We'll generate warm leads on your behalf, alleviating the manual upkeep of 1000s of prospected leads.

      </div>

      <br/>
      <%= image_tag "creative/marketing_automation.svg", class: "img-responsive", alt: "" %>



    </div>
  </div>
</div>

<!-- qualificationWorkflow -->
<div class="modal fade" id="qualificationWorkflow" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="automatedTechModal"><b>Qualification / Appointment Setting</b></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        We work with the most qualified sales reps to set you demos. We'll train and qualify a team on your behalf, so that you can vet qualified, interested individuals
      </div>

      <br/>
      <%= image_tag "creative/marketing_automation.svg", class: "img-responsive", alt: "" %>



    </div>
  </div>
</div>

<!-- customWorkflow -->
<div class="modal fade" id="customWorkflow" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="automatedTechModal"><b>Have A Custom Workflow?</b></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        We provide a scaleable sales workforce to plug into your custom workflows. ScaleReps plugs into different parts of your sales cycle to alleviate manual, repetitive tasks.
      </div>

      <br/>
      <%= image_tag "creative/marketing_automation.svg", class: "img-responsive", alt: "" %>



    </div>
  </div>
</div>
