<div id="title" class="jumbotron">
  
  <% if flash[:error].present? or flash[:notice].present? %>
      <center>
        <p class="container text-danger"><%= flash[:error] %></p>
        <p class="container text-success"><%= flash[:notice] %></p>
      </center>
  <% end %>

  <br>

  <h1>Data Uploads</h1>

</div>

<div class="table-display">
    <table class="table table-hover">
        <thead class ="thead">
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Company</th>
                <th scope="col">Campaign</th>
                <th scope="col">Completed?</th>
                <th scope="col">Uploaded</th>
                <th scope="col">Verified & Cleaned</th>
                <th scope="col"># Imported</th>
                <th scope="col"># CRM Dups</th>
                <th scope="col"># Row Errors</th>
                <th scope="col">Delete</th>
              </tr>
        </thead>

        <tbody>
          <% @data_uploads.each do |data_upload| %>
              <tr>
                  <td><%= data_upload.created_at.to_time.strftime('%m/%d/%Y') %></td>
                  <td><%= data_upload.client_company.name %></td>
                  <td><%= data_upload.campaign.campaign_name %></td>
                  
                  <td>
                  <% if data_upload.imported_to_campaigns %>
                     yes 
                  <% else %>
                      <%= link_to "no", data_upload_path(:id => data_upload.id) %>
                  <% end %>
                  </td>

                  <td><%= link_to data_upload.data.count, show_data_list_data_uploads_path({id: data_upload.id, list: "data"}) %></td>

                  <td><%= link_to data_upload.cleaned_data.count, show_data_list_data_uploads_path({id: data_upload.id, list: "cleaned_data"}) %></td>

                  <td>
                  <% begin %>
                      <%= link_to data_upload.imported.count, show_data_list_data_uploads_path({id: data_upload.id, list: "imported"}) %>
                  <% rescue %>
                      --
                  <% end %>
                  </td>


                  <td><%= link_to data_upload.external_crm_duplicates.count, show_data_list_data_uploads_path({id: data_upload.id, list: "external_crm_duplicates"}) %></td>

                  <td>
                  <% begin %>
                      <%= link_to data_upload.not_imported.count , show_data_list_data_uploads_path({id: data_upload.id, list: "not_imported"}) %>
                  <% rescue %>
                       --
                  <% end %>
                  </td>

                    
                  <td>
                      <%= link_to data_upload, method: :delete, data: { confirm: 'Are you sure?' }  do %>
                          <%= octicon "trashcan", :height => 20,  :class => "right left", :"aria-label" => "hi" %>
                      <% end %>
                  </td>
              </tr>
          <% end %>
        </tbody>
    </table>
    <div class="digg_pagination">
      <div class="page_info">
        <%= page_entries_info @data_uploads %>
      </div>
      <%= will_paginate @data_uploads %>
  </div>
</div>
