<div id="title" class="jumbotron">
	<center>
		<p class="container text-danger"><%= flash[:error] %></p>
		<p class="container text-success"><%= flash[:notice] %></p>
	</center>

	<br>
	<h1>Cleaned Data</h1>
	<h4>Campaign: <%= @campaign.campaign_name if @campaign.campaign_name %></h4>
	<h4>Company:  <%= @campaign.client_company.name if @campaign.client_company.name %></h4>
  <p><%= link_to 'Back', data_uploads_path %></p>
	<br>

  <% if @data_upload.imported_to_campaigns == false %>
	     <div style="margin-top:10px">
		       <%= form_tag import_to_current_campaign_leads_path(data_upload: @data_upload)  do %>
			     <%= submit_tag "+ import to campaign", :class=>"btn btn-primary page-scroll" %>
		          <% end %>
          <% end %>
        </div>
</div>

<div class="container">

  <table class="import-table-settings table">
    <thead class="thead">
      <tr>
      	<% @headers.each_with_index do |header, index| %>
        	<th scope="col"><%= header %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
     
      <%= form_tag update_lead_import_leads_path(:data_upload => @data_upload), method: :post do %>
          
          <%= hidden_field_tag :page, @page %>

          <%= hidden_field_tag :per_page, @per_page %>

          <% @page_results.each_with_index do |value,index_row| %>
              <tr>
              	<% value.each_with_index do |column_value, column_index| %>
                      <% if !(column_value == nil) %>
                          <td><input class="td-import-table-settings" type="text" name="<%= index_row %>_<%=column_index%>" value="<%= column_value %>"></td>
                      <% else %>
                          <td><input class="td-import-table-settings" type="text" name="<%= index_row %>_<%=column_index%>"></td>
                      <% end %>
                <% end %>
              </tr>
          <% end %>

          <% if @data_upload.imported_to_campaigns == false %>
              <%= submit_tag "Save", :class=>"btn btn-primary page-scroll" %>
          <% end %>
    </tbody>

  </table>

    <% if @data_upload.imported_to_campaigns == false %>
        <%= submit_tag "Save", :class=>"btn btn-primary page-scroll" %>
    <% end %>

  <% end %>

  <div class="digg_pagination">
      <div class="page_info">
          <%= page_entries_info @page_results %>
      </div>
            <%= will_paginate @page_results, :container => false %>
  </div> 
</div>