<div id="title" class="jumbotron">
  <div class = "container">
    <br/>
    <h1><%= @user.client_company.name if @user.client_company %> Lead List</h1>
  </div>
</div>

<div class="hi">
  <%= @qualified_opps %>
</div>

<div class="container">
  <table class="table table-striped">
    <thead class="thead-light">
      <tr>
        <th scope="col">Date Sourced</th>
        <th scope="col">Handed To:</th>
        <th scope="col">Name</th>
        <th scope="col">Company</th>
        <th scope="col">Timeline</th>
        <th scope="col">Scope</th>
        <th scope="col">Other Notes</th>
        <th scope="col">Predicted Deal Size</th>

        <th scope="col">Contract Sent?</th>
        <th scope="col">Contract Amount</th>

      </tr>
    </thead>

    <tbody>
      <% @leads.each do |lead| %>
        <tr>
          <td><%= lead.date_sourced.strftime("%m-%d-%Y") %></td>
          <td><%= lead.email_handed_off_too %></td>
          <td><%= lead.name %></td>
          <td><%= lead.company %></td>
          <td><%= lead.timeline %></td>
          <td><%= lead.project_scope %></td>
          <td><%= lead.external_notes %></td>
          <td>$<%= lead.potential_deal_size %></td>

          <td><%= lead.contract_sent %></td>
          <td>$<%= lead.contract_amount %></td>


        </tr>

      <% end %>
    </tbody>
  </table>
</div>
