<div id="title" class="jumbotron">
    <h1>New Template</h1>
</div>


<div>
  <%= form_for @template, url: templates_path, html: { method: :post } do |f| %>
    <% if @template.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(template.errors.count, "error") %> prohibited this template from being saved:</h2>
        <ul>
        <% @template.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="container">
        
        <%= f.hidden_field :client_company, value: @client_company.id %>

        <div class="form-group">
           <%= f.label :title, "Template Title*", class: "control-label" %>
            <%= f.text_field :title, required: true, class: "form-control" %>
        </div>

        <div class="form-group">
            <%= f.label :subject, "Subject Line*", class: "control-label" %>
            <%= f.text_area :subject, required: true, class: "form-control" %>
        </div>

        <div class="form-group">
            <%= f.label :body, "Template Body*", class: "control-label" %>
            <%= f.text_area :body, :rows => 5, :col => 5, class: "form-control" %>
        </div>

        <div class="actions">
          <%= f.submit "Submit", class: "btn btn-default btn-primary" %>
        </div>
    </div>

  <% end %>
</div>

<div class = "container">
<%= link_to 'Back', templates_path %>
</div>
