<div id="title" class="jumbotron">

    <% if flash[:error].present? or flash[:notice].present? %>
      <center>
        <p class="container text-danger"><%= flash[:error] %></p>
        <p class="container text-success"><%= flash[:notice] %></p>
      </center>
    <% end %>

    <br>

    <h1><%= @company.name if @company %> Metrics</h1>

    <% if @user.role == "scalerep" %>
      <div>
          <%= form_tag({}, {:method => :get}) do %>
            <%= label_tag  'select company:' %>
            <%= select_tag :client_company, options_for_select(@client_companies, @company.name), :onchange => "this.form.submit();" %>
          <% end %>
      </div>
    <% end %>

</div>

<div class="container">
<h4 style="margin-bottom:20px;"> Conversion Metrics</h4>

<div>
    <%= form_tag({}, {:method => :get}) do %>
      <% if @user.role == "scalerep" %>
        <%= hidden_field_tag :client_company, @company.name  %>
      <% end %>
      <%= label_tag  'Time Frame:' %>
      <% if @time_frame == "By Week" %>
        <%= select_tag "time_frame","<option>Last 7 Days</option><option selected='selected'>By Week</option><option>By Month</option>".html_safe, :onchange => "this.form.submit();" %>
      <% elsif @time_frame == "By Month" %>
        <%= select_tag "time_frame","<option>Last 7 Days</option><option>By Week</option><option selected='selected'>By Month</option>".html_safe, :onchange => "this.form.submit();" %>
      <% else %>
        <%= select_tag "time_frame","<option>Last 7 Days</option><option>By Week</option><option>By Month</option>".html_safe, :onchange => "this.form.submit();" %>
      <% end %>
    <% end %>
</div>

<% if @time_frame == "By Week" %>
  <%= column_chart [{ name: "Emails Sent", data: @touchpoints.group_by_week(:created_at, format: "%B %d", range: Date.today - 7.weeks..Date.today).count}, { name: "Emails Opened", data: @email_opens.group_by_week(:email_sent_time, format: "%B %d", range: Date.today - 7.weeks..Date.today).count}, { name: "Emails Replied To", data: @email_replies.group_by_week(:email_sent_time, format: "%B %d", range: Date.today - 7.weeks..Date.today).count}], colors: ["#ADD8E6", "#0000FF", "#90EE90"] %>
<% elsif @time_frame == "By Month" %>
  <%= column_chart [{ name: "Emails Sent", data: @touchpoints.group_by_month(:created_at, format: "%B %d", range: Date.today - 7.months..Date.today).count}, { name: "Emails Opened", data: @email_opens.group_by_month(:email_sent_time, format: "%B %d", range: Date.today - 7.months..Date.today).count}, { name: "Emails Replied To", data: @email_replies.group_by_month(:email_sent_time, format: "%B %d", range: Date.today - 7.months..Date.today).count}], colors: ["#ADD8E6", "#0000FF", "#90EE90"] %>
<% else %>
  <%= column_chart [{ name: "Emails Sent", data: @touchpoints.group_by_day(:created_at, format: "%B %d", range: Date.today - 7.days..Date.today).count}, { name: "Emails Opened", data: @email_opens.group_by_day(:email_sent_time, format: "%B %d", range: Date.today - 7.days..Date.today).count}, { name: "Emails Replied To", data: @email_replies.group_by_day(:email_sent_time, format: "%B %d", range: Date.today - 7.days..Date.today).count}], colors: ["#ADD8E6", "#0000FF", "#90EE90"] %>
<% end %>

</div>


<br><br><br><br>


<div class="container">
  <h4>Conversation Qualified Leads</h4>

      <% if @meetings_set.count == 0 %>
        <p> No Leads Handed Off </p>
      <% else %>
        <p style="margin-bottom: 30px;"><i>Leads that are ready to speak to sales or are ready for a follow-up conversation</i></p>

        <table class = " airtable_data table table-hover">
          <thead class = "thead">
            <tr>
                  <th scope = 'col'>Date Sourced</th>
                  <th scope = 'col'>E-mail</th>
                  <th scope = 'col'>Name</th>
                  <th scope = 'col'>Persona</th>
                  <th scope = 'col'>Status</th>
            </tr>
          </thead>

          <tbody>
            <% @meetings_set.each do |lead| %>
              <tr data-link="<%= lead_path(lead) %>" id="<%= lead.id %>" style="cursor:pointer;">

                <td> <%= lead.date_sourced.strftime("%b %d, %Y") %> </td>


                <td> <%= lead.email %> </td>


                <% if lead.full_name %>
                  <td><%= lead.full_name %></td>
                <% end %>

                <% if !lead.persona.present? %>
                  <td><%= lead.persona.name %></td>
                <% else %>
                  <td>N/A</td>
                <% end %>

                <td> <%= lead.status.to_s %></td>

              </tr>
            <% end %>
          </tbody>

        </table>

        <div class="digg_pagination">
            <div class="page_info">
              <%= page_entries_info @meetings_set %>
            </div>
            <%= will_paginate @meetings_set, :params => { :tab_id => "meetings" }, :container => false %>
        </div>
      <% end %>
</div>

<script>
   $("tr[data-link]").click(function() {
    window.location = $(this).data("link")
  })
</script>
