<div id="title" class="jumbotron">

    <h1><%= @user.client_company.name if @user.client_company %> Metrics</h1>
		<h4>viewer: <%= @user.email if @user.email %></h4>

</div>

<div>
<h4> Conversion Metrics</h4>

<%= column_chart [{ name: "Emails Sent", data: @touchpoints.group_by_day(:created_at, format: "%a", range: Date.tomorrow - 7.days..Time.now).count}, { name: "Email Opens", data: @lead_actions.group_by_day(:email_sent_time, format: "%a", range: Date.tomorrow - 7.days..Time.now).count}], colors: ["#ADD8E6", "#0000FF"] %>
</div>
<br><br>
<div>
<h4> Handed Off Leads </h4>

      <div class="card-body">
      <% if @meetings_set.count == 0 %>
        <p> No Leads Handed Off </p>
      <% else %>
        <div style="overflow: auto;">
          <p style="margin-bottom: 30px;"><i>Handed-off leads have a meeting set with your team or were sent to you for a follow-up conversation</i></p>
          <table class = " airtable_data table table-hover">
            <thead class = "thead">
              <tr>
                    <th scope = 'col'>Date Sourced</th>
                    <th scope = 'col'>E-mail</th>
                    <th scope = 'col'>Name</th>

                    <% if @user.role == "scalerep" %>
                        <th scope = 'col'>Client Company</th>
                    <% end %>
                        <th scope = 'col'>Status</th>
                    
              </tr>
            </thead>

            <tbody>
              <% @meetings_set.each do |lead| %>
                <tr>
                  <td> <%= lead.updated_at.strftime("%b %d, %Y") %> </td>
                  
                  <td> <%= lead.email %> </td>

                  <% if lead.first_name.present? && lead.last_name.present? %>
                    <td> <%= lead.first_name + " " + lead.last_name %></td>
                  <% else %>
                    <td> <%= lead.full_name %></td>
                  <% end %>

                  <% if @user.role == "scalerep" %>
                    <td> <%= lead.client_company.name %> </td>
                  <% end %>
                    <td> <%= lead.status.to_s %></td>
                  


                </tr>
              <% end %>
            </tbody>
          </table>
          <div class="digg_pagination">
              <div class="page_info">
                <%= page_entries_info @meetings_set %>
              </div>
              <%= will_paginate @meetings_set, :params => { :tab_id => "meetings" }, :container => false %>
          </div>

        </div>
      <% end %>
</div>

</div>
