<div id="title" class="jumbotron">
    
    <% if flash[:error].present? or flash[:notice].present? %>
      <center>
        <p class="container text-danger"><%= flash[:error] %></p>
        <p class="container text-success"><%= flash[:notice] %></p>
      </center>
    <% end %>

    <br>

    <h1><%= @company.name if @company %> Metrics</h1>

    <% if @user.role == "scalerep" %>
      <div>
          <%= form_tag({}, {:method => :get}) do %>
            <%= label_tag  'select company:' %>      
            <%= select_tag :client_company, options_for_select(@client_companies, @company.name), :onchange => "this.form.submit();" %>
          <% end %>
      </div>
    <% end %>

</div>

<div class="container">
<h4> Conversion Metrics</h4>

<%= column_chart [{ name: "Emails Sent", data: @touchpoints.group_by_day(:created_at, format: "%B %d", range: Date.today - 7.days..Date.today).count}, { name: "Emails Opened", data: @email_opens.group_by_day(:email_sent_time, format: "%B %d", range: Date.today - 7.days..Date.today).count}, { name: "Emails Replied To", data: @email_replies.group_by_day(:email_sent_time, format: "%B %d", range: Date.today - 7.days..Date.today).count}], colors: ["#ADD8E6", "#0000FF", "#90EE90"] %>
</div>


<br><br><br><br>


<div class="container">
  <h4> Handed Off Leads </h4>

      <% if @meetings_set.count == 0 %>
        <p> No Leads Handed Off </p>
      <% else %>
        <div style="overflow: auto;">
          <p style="margin-bottom: 30px;"><i>Handed-off leads have a meeting set with your team or were sent to you for a follow-up conversation</i></p>
          
          <table class = " airtable_data table table-hover">
            <thead class = "thead">
              <tr>
                    <th scope = 'col'>Date Sourced</th>
                    <th scope = 'col'>E-mail</th>
                    <th scope = 'col'>Name</th>
                    <th scope = 'col'>Campaign</th>
                    <th scope = 'col'>Persona</th>
                    <th scope = 'col'>Status</th>      
              </tr>
            </thead>

            <tbody>
              <% @meetings_set.each do |lead| %>
                <tr>

                  <td> <%= lead.date_sourced.strftime("%b %d, %Y") %> </td>

                  
                  <td> <%= lead.email %> </td>
                  

                  <% if lead.first_name.present? && lead.last_name.present? %>
                    <td> <%= lead.first_name + " " + lead.last_name %></td>
                  <% else %>
                    <td> <%= lead.full_name %></td>
                  <% end %>

                  <% if lead.campaign.nil? %>
                    <td>N/A</td>
                    <td>N/A</td>
                  <% else %>
                    <td><%= lead.campaign.campaign_name %></td>

                    <% if lead.campaign.persona.nil? %>
                        </tr>N/A</tr>
                    <% else %>
                        <td><%= lead.campaign.persona.name %></td>
                    <% end %>
                  <% end %>
                  <td> <%= lead.status.to_s %></td>
                </tr>
              <% end %>
            </tbody>

          </table>
          
          <div class="digg_pagination">
              <div class="page_info">
                <%= page_entries_info @meetings_set %>
              </div>
              <%= will_paginate @meetings_set, :params => { :tab_id => "meetings" }, :container => false %>
          </div>

        </div>
      <% end %>

</div>
