<%= form_for(salesforce) do |f| %>
    <% if salesforce.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(salesforce.errors.count, "error") %> prohibited this salesforce from being saved:</h2>
        <ul>
        <% salesforce.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <%= f.label :upload_contacts_to_salesforce_option do %>
    <%= f.check_box :upload_contacts_to_salesforce_option %>
    Upload ScaleRep contacts to Salesforce
     <button type="button" data-toggle="modal" data-target="#salesforceContactUploadInfo" style="border:none;">
                <%= octicon "info" %>
    </button>
    <% end %>
    <br>

    <%= f.label :upload_accounts_to_salesforce_option do %>
    <%= f.check_box :upload_accounts_to_salesforce_option %>
    Upload ScaleRep accounts to Salesforce
    <button type="button" data-toggle="modal" data-target="#salesforceAccountUploadInfo" style="border:none;">
                <%= octicon "info" %>
    </button>
    <% end %>
    <br>

    <%= f.submit "Update", class: "btn btn-primary btn-xl page-scroll header-text-space"  %>
<% end %>

      <!-- Modal 1 - Data Upload to Salesforce -->
      <div class="modal fade" id="salesforceContactUploadInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="myModalLabel">Uploading Contacts to Salesforce</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              
            </div>
            <div class="modal-body">
              <h5>Duplicate contacts will be updated in Salesforce so that:</h5>
              <p style="color:black">
                <br>LeadSource : "ScaleRep"
                <br>Description : Persona
              </p>

              <h5>
                <br>Field and values uploaded into Salesforce are below:
                
              </h5>
              <p style="color:black">
                {salesforce_field}:{scalerep_value_uploaded}<br>
                <br>
                <br>LeadSource  :  "ScaleRep"
                <br>Description : {persona}
                <br>FirstName : {contact_last_name}
                <br>LastName : {contact_first_name}
                <br>Email : {contact_email}
                <br>Title : {contact_title}
                <br>AccountId : {account} (* Only if upload account option is checked)
              </p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal 1 - Data Upload to Salesforce -->
      <div class="modal fade" id="salesforceAccountUploadInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="myModalLabel">Uploading to Salesforce</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              
            </div>
            <div class="modal-body">
              <h5>Accounts</h5>

              <p>* Below are the account fields/values uploaded into Salesforce
              <br>{salesforce_field}:{scalerep_value_uploaded}
              <p>
              <p style="color:black">
              <br>account_name : {company_name}
              <br>account_website : {company_website}
              <p>
            
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>