<%= form_for(salesforce) do |f| %>
  <% if salesforce.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(salesforce.errors.count, "error") %> prohibited this salesforce from being saved:</h2>

      <ul>
      <% salesforce.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    
  <%= f.hidden_field :client_company_id, value: @client_company_id %>

  <div class="form-group">
      <%= f.label :app_key, "App Key (Consumer Key)", class: "control-label" %>
      <%= f.text_field :app_key, required: true, class: "form-control" %>
  </div>

  <div class="form-group">
      <%= f.label :api_secret, "App Secret Key (Consumer Secret Key)", class: "control-label" %>
      <%= f.text_field :app_secret, required: true, class: "form-control" %>
  </div>

  <br>

  <%= f.submit "Submit", class: "btn btn-primary btn-xl page-scroll header-text-space"  %>

<% end %>