<%= form_for(salesforce) do |f| %>
    <% if salesforce.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(salesforce.errors.count, "error") %> prohibited this salesforce from being saved:</h2>
        <ul>
        <% salesforce.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>


    <%= f.label :check_dup_against_existing_contact_email_option do %>
    <%= f.check_box :check_dup_against_existing_contact_email_option %>
    Blacklist all Salesforce contacts by email
    <% end %>

    <br>
    <%= f.submit "Submit", class: "btn btn-primary btn-xl page-scroll header-text-space"  %>
<% end %>