<div id="title" class="jumbotron">
  
  <% if flash[:error].present? or flash[:notice].present? %>
      <center>
          <p class="container text-danger"><%= flash[:error] %></p>
          <p class="container text-success"><%= flash[:notice] %></p>
      </center>
  <% end %>

  <h1>Salesforce</h1>
  <h4>Status:
      <% if @salesforce.salesforce_integration_authorized %>
          <% if @salesforce.salesforce_integration_on %>
            <%= link_to toggle_salesforces_path(:id => @salesforce.id), method: :put do %>
              On
            <% end %>
          <% else %>
            <%= link_to toggle_salesforces_path(:id => @salesforce.id), method: :put do %>
              Off
            <% end %>
          <% end %>
      <% else %>
          <input type="checkbox" class="toggle" disabled data-toggle="toggle">
      <% end %>
  </h4>
</div>

<div class="thin_margins">

  <% if @salesforce.salesforce_integration_on %>
    


  <% if false %>
    <div  class="border-sf-option" id = "accordion"> 
    

    
        <div>
          <h4>
            <a data-toggle = "collapse" data-parent = "#accordion" href = "#collapseOne">
              Data Upload Option</a>
          </h4>
        </div>
        <div id = "collapseOne">
          <div>
              Data Upload Option
          </div>
        </div>  
    </div>
    <br>
  <% end %>
    
      <div class="border-sf-option" id = "accordion">
        <div>
           <h4>
              <a data-toggle = "collapse" data-parent = "#accordion" href = "#collapseTwo">
                 Duplicate Options</a>
           </h4>
        </div>
        <div id = "collapseTwo">
          <div>
            <%= render 'options', salesforce: @salesforce %>
          </div>
        </div>
    </div>
  <% end %>
  <br>
   
  <div class="border-sf-option" id = "accordion" >
    <div>
      
        <% if @salesforce.salesforce_integration_on %>
          <h4><a data-toggle = "collapse" data-parent = "#accordion" href = "#collapseThree">
            Integration Setup</a></h4>
            </div>
            <div id = "collapseThree" class = "panel-collapse collapse">
        <% else %>
          <h4><a data-toggle = "collapse" data-parent = "#accordion" href = "#showThree">
            Integration Setup</a></h4>
            </div>
            <div id = "showThree">
        <% end %>          
      <div>
          <%= render 'form', salesforce: @salesforce %>
      </div>
    </div>
  </div>
   
</div>







<script type = "text/javascript">
   $(function () { $('#collapseFour').collapse({
      toggle: false
   })});
  
   $(function () { $('#collapseTwo').collapse('show')});
   $(function () { $('#collapseThree').collapse('hide')});
   $(function () { $('#showThree').collapse('show')});
   $(function () { $('#collapseOne').collapse('show')});
</script>  