<div id="title" class="jumbotron">
  
  <% if flash[:error].present? or flash[:notice].present? %>
      <center>
          <p class="container text-danger"><%= flash[:error] %></p>
          <p class="container text-success"><%= flash[:notice] %></p>
      </center>
  <% end %>

  <h1>Salesforce</h1>
  <h4>Status:
      <% if @salesforce.salesforce_integration_authorized %>
          <% if @salesforce.salesforce_integration_on %>
            <%= link_to toggle_salesforces_path(:id => @salesforce.id), method: :put do %>
              On
            <% end %>
          <% else %>
            <%= link_to toggle_salesforces_path(:id => @salesforce.id), method: :put do %>
              Off
            <% end %>
          <% end %>
      <% else %>
          <input type="checkbox" class="toggle" disabled data-toggle="toggle">
      <% end %>
  </h4>
</div>

<div class="thin_margins">

  <% if @salesforce.salesforce_integration_on %>
    

    <!--############################# Section 1: Upload Data to salesforce ########################-->
    <div  class="border-sf-option" id = "accordion"> 
        <div>
          <h4>
            <a data-toggle = "collapse" data-parent = "#accordion" href = "#collapseOne">
              Upload to Salesforce</a>
          </h4>   
        </div>
        <div id = "collapseOne">
          <div>
              <%= render 'data_upload_options', salesforce: @salesforce %>
          </div>
        </div>  
    </div>
    <br>


    <!--############################# Section 2: Salesforce Blacklist ########################-->
    <div class="border-sf-option" id = "accordion">
      <div>
         <h4>
            <a data-toggle = "collapse" data-parent = "#accordion" href = "#collapseTwo">
               Check Salesforce Blacklist</a>
         </h4>
      </div>
      <div id = "collapseTwo">
        <div>
              <%= render 'options', salesforce: @salesforce %>
          </div>
        

        <% if false %>
        <button type="button" data-toggle="modal" data-target="#salesforceBlacklist" class="btn btn-primary btn-xl page-scroll header-text-space">
          + Blacklist Field
        </button>
        <% end %>
      </div>



              <!-- Modal 2 - Data Upload to Salesforce -->
              <div class="modal fade" id="salesforceBlacklist" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title" id="myModalLabel">Add Blacklist Field</h4>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      
                    </div>
                    <div class="modal-body">
                      <h5>Salesforce Field : Salesforce Value</h5>
                        <%= form_for(@salesforce) do |f| %>
                            <% if @salesforce.errors.any? %>
                              <div id="error_explanation">
                                <h2><%= pluralize(@salesforce.errors.count, "error") %> prohibited this salesforce from being saved:</h2>
                                <ul>
                                <% @salesforce.errors.full_messages.each do |message| %>
                                  <li><%= message %></li>
                                <% end %>
                                </ul>
                              </div>
                            <% end %>

                            <%= f.label :upload_contacts_to_salesforce_option do %>
                            <%= f.check_box :upload_contacts_to_salesforce_option %>
                            Upload all ScaleRep contacts to Salesforce
                            <% end %>


                            <br>


                        
                    </div>
                    <div class="modal-footer">
                            <%= f.submit "Update", class: "btn btn-primary btn-xl page-scroll header-text-space"  %>
                            <% end %>
                      <button type="button" class="btn btn-primary btn-xl page-scroll header-text-space" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>



    </div>
  <% end %>
  <br>
  

  <!--############################# Section 3: Salesforce Setup ########################-->
  <div class="border-sf-option" id = "accordion" >
    <div>
      
        <% if @salesforce.salesforce_integration_on %>
          <h4><a data-toggle = "collapse" data-parent = "#accordion" href = "#collapseThree">
            Integration Setup</a></h4>
            </div>
            <div id = "collapseThree" class = "panel-collapse collapse">
        <% else %>
          <h4><a data-toggle = "collapse" data-parent = "#accordion" href = "#showThree">
            Connect to Salesforce</a></h4>
            </div>
            <div id = "showThree">
        <% end %>          
      <div>
          <%= render 'form', salesforce: @salesforce %>
      </div>
    </div>
  </div>
   
</div>







<script type = "text/javascript">
   $(function () { $('#collapseFour').collapse({
      toggle: false
   })});
  
   $(function () { $('#collapseTwo').collapse('show')});
   $(function () { $('#collapseThree').collapse('hide')});
   $(function () { $('#showThree').collapse('show')});
   $(function () { $('#collapseOne').collapse('show')});
</script>  