<div id="title" class="jumbotron">
  		<div class = "container">
    	<br/>
   		 <h1>Account Setup for <%= @user.client_company.name %></h1>
		<h2>Account Owner: <%= @user.first_name if @user.first_name %> <%= @user.last_name if @user.last_name %></h2>
		<h2>Email: <%= @user.email if @user.email %></h2>
  		</div>
	</div>

	<div class="container">

			

		<h3>1. <%= link_to "Setup Account Seating and E-mails (10 min.)", { controller: "client_companies", action: "edit", id: @user.id} %>
			<% if @user.client_company.profile_setup == true  %> 
				<span style="color:green">-- Completed --</span>
			<% else %>
			    <span style="color:red">-- Action Pending - Complete all fields --</span>
			<% end %>
		</h3>

		<br>


			

	    <h3> 2. <a target="_blank" href="https://calendly.com/scalerep_consultation/30min"> Schedule a meeting with us to verify account details (2 min.)</a></h3>
	    <br>
	    <br>

	    <h3> 3. Remember, each e-mail take 4-6 weeks to warm-up.</a></h3>
	    <br>
	    <br>

	    	

	    <h3> 4. <%= link_to "Setup Your Campaigns! (8 mins.)", { controller: "campaigns", action: "index", id: @user.id} %></h3>
	    <br>
	    <br>


	    <h3> 5. Interface with your dedicated <a target="_blank" href="https://slack.com">slack team</a> to get help and ask questions!</a></h3>
	    <br>
	    <br>

	    <br>
	    <br>
	    <h3> ...very soon, you'll be off to a great start!</h3>
	    	

	</div>