<div id="title" class="jumbotron">
  <div class = "container">
    <br/>
    <h1>User Account for <%= @user.first_name if @user.client_company %></h1>
		<h2>Account Owner: <%= @user.first_name if @user.first_name %></h2>
		<h2>Email: <%= @user.email if @user.email %></h2>
  </div>
</div>

<div class="container">

			

		<h3> 1. Setup Your Account (10 min.)</h3>

			<%= link_to "Set-up account seating and e-mails", { controller: "client_companies", action: "edit", id: @user.id} %>


			

	    <h3> 2. Schedule a Consultation With Us (2 min.)</h3>


	    	<%= link_to "Schedule a meeting with us to verify account details", { controller: "client_companies", action: "edit", id: @user.id} %>

	    <h3> 3. Setup Your First Campaigns! (8 min.)</h3>


	    	<%= link_to "Setup Your Campaigns!", { controller: "client_companies", action: "edit", id: @user.id} %>

	    <br>
	    <h3> ...very soon, you'll be off to a great start!</h3>
	    	




</div>



		
		



		
		

