  <div class="card-body">
    <% if @blacklist.count == 0 %>
      <p> No Blacklisted Leads </p>

    <% else %>
      <div style="overflow: auto;">
        <p style="margin-bottom: 30px;"><i>Blacklisted leads have opted out of receiving future messaging or have asked to be taken off any list</i></p>
        <div class="digg_pagination">
            <div class="page_info">
              <%= page_entries_info @blacklist %>
            </div>
            <%= will_paginate @blacklist, :params => { :tab_id => "blacklist" }, :container => false %>
        </div>
        <table class = " airtable_data table table-hover">
          <thead class = "thead">
            <tr>
              <th scope = 'col'>Date Added</th>
              <th scope = 'col'>Email</th>
              <th scope = 'col'>Name</th>

              <% if @user.role == "scalerep" %>
                <th scope = 'col'>Status</th>
              <% end %>

            </tr>
          </thead>

          <tbody>
            <% @blacklist.each do |lead| %>
              <tr>
                <td> <%= lead.updated_at.strftime("%b %d, %Y") %></td>
                <td> <%= lead.email %></td>

                <% if lead.first_name != "" && lead.last_name != "" %>
                  <td> <%= lead.first_name + " " + lead.last_name %></td>
                <% else %>
                  <td> <%= lead.full_name %></td>
                <% end %>

                <% if @user.role == "scalerep" %>
                  <td> <%= lead.status %></td>
                <% end %>

              </tr>
            <% end %>
          </tbody>
        </table>

        <div class="digg_pagination">
            <div class="page_info">
              <%= page_entries_info @blacklist %>
            </div>
            <%= will_paginate @blacklist, :params => { :tab_id => "blacklist" }, :container => false %>
        </div>

      </div>
    <% end %>
  </div>
