  <div class="card-body">
    <% if @blacklist.count == 0 %>
      <p> No Blacklisted Leads </p>

    <% else %>
      <div style="overflow: auto;">
        <table class = " airtable_data table table-striped">
          <thead class = "thead-dark">
            <tr>
              <th scope = 'col'>Date Added</th>
              <th scope = 'col'>Name</th>
              <th scope = 'col'>Email</th>
              <th scope = 'col'>Status</th>

            </tr>
          </thead>

          <tbody>
            <% @blacklist.each do |lead| %>
              <tr>
                <td> <%= lead.updated_at.strftime("%b %d, %Y") %></td>
                <td> <%= lead.full_name %></td>
                <td> <%= lead.email %></td>
                <td> <%= lead.status %></td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <div class="digg_pagination">
            <div class="page_info">
              <%= page_entries_info @blacklist %>
            </div>
            <%= will_paginate @blacklist, :params => { :tab_id => :blacklist }, :container => false %>
        </div>

      </div>
    <% end %>
  </div>
