<div class="card-body">
  <% if @follow_ups.count == 0 %>
    <p> No Leads To Follow-Up With</p>
  <% else %>
    <div style="overflow: auto;">
      <table class = " airtable_data table table-striped">
        <thead class = "thead-dark">
          <tr>
                <th scope = 'col'>Date Sourced</th>
                <th scope = 'col'>Follow-up Date</th>
                <th scope = 'col'>Email</th>
                <th scope = 'col'>Name</th>
                <th scope = 'col'>Company</th>
                <th scope = 'col'>Notes</th>
                <th scope = 'col'>Status</th>
                <th scope = 'col'>Update</th>

          </tr>
        </thead>

        <tbody>
          <% @follow_ups.each do |lead| %>
            <tr>
              <td> <%= lead.updated_at.strftime("%b %d, %Y") %></td>

              <%= form_tag update_reply_from_portal_leads_path(:email => lead.email, :company_id => lead.client_company.id) do %>
                <% if lead.follow_up_date? %>
                  <td><input type="text" data-provide='datepicker' name="followUpDate" value="<%= lead.follow_up_date.strftime('%m/%d/%Y')%>"></td>
                <% else %>
                  <td><input type="text" data-provide='datepicker' name="followUpDate"></td>
                <% end %>

                <td> <%= lead.email %></td>
                <td> <%= lead.full_name %></td>
                <td> <%= lead.client_company.name %></td>
                <td> <input type="text" name="notes" value="<%= lead.notes %>"></td>

                <td>
                  <%= select_tag :status, options_for_select(CampaignReply.statuses.keys.to_a, 'interested') %>
                </td>
                <td><%= submit_tag "OK" %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="digg_pagination">
          <div class="page_info">
            <%= page_entries_info @follow_ups %>
          </div>
          <%= will_paginate @follow_ups, :params => { :tab_id => "followUp" }, :container => false %>
      </div>
    </div>
  <% end %>
</div>
