<div class="card-body">
  <% if @meetings_set.count == 0 %>
    <p> No Leads Handed Off </p>
  <% else %>
    <div style="overflow: auto;">
      <table class = " airtable_data table table-striped">
        <thead class = "thead-dark">
          <tr>

                <th scope = 'col'>date sourced</th>
                <th scope = 'col'>email</th>
                <th scope = 'col'>first_name</th>
                <th scope = 'col'>last_name</th>

                <% if @user.role == "scalerep" %>
                  <th scope = 'col'>client_company</th>
                <% end %>


          </tr>
        </thead>

        <tbody>
          <% @meetings_set.each do |lead| %>
            <tr>
                  <td> <%= lead.updated_at.strftime("%b %d, %Y") %> </td>
                  <td> <%= lead.email %> </td>
                  <td> <%= lead.first_name %> </td>
                  <td> <%= lead.last_name %> </td>

                  <% if @user.role == "scalerep" %>
                    <td> <%= lead.client_company.name %> </td>
                  <% end %>


            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="digg_pagination">
          <div class="page_info">
            <%= page_entries_info @meetings_set %>
          </div>
          <%= will_paginate @meetings_set, :params => { :tab_id => :meetings }, :container => false %>
      </div>

    </div>
  <% end %>
</div>
