
<div id="title" class="jumbotron">
  <center>
    <p class="container text-danger"><%= flash[:error] %></p>
    <p class="container text-success"><%= flash[:notice] %></p>
  </center>

  <br/>
  <h1>Cleaned Data</h1>
  <h3>for <%= @campaign.campaign_name if @campaign.campaign_name %></h3>
  <h4>of  <%= @campaign.client_company.name if @campaign.client_company.name %></h4>
  <br>

  <% if false %>
      <div>
      <%= link_to '+ export csv', new_client_companies_campaign_path(@user.client_company, persona_name: @persona.name, persona_id: @persona.id), :class=>"add_campaign btn btn-primary btn-xl page-scroll" %>
     </div>
 <% end %>

 <div style="margin-top:10px">
  <%= form_tag import_to_current_campaign_leads_path(@user.client_company, data_upload: @data_upload)  do %>
  	 <%= submit_tag "+ campaign", :class=>"btn btn-primary page-scroll" %>
  <% end %>
 </div>
</div>

<div>

  <table class="import-table-settings table">
    <thead class="thead">


      <tr>
      	<% @headers.each_with_index do |header, index| %>
        	<th scope="col"><%= header %></th>
        <% end %>
      </tr>

    </thead>

    <tbody>
     
      <%= form_tag update_lead_import_leads_path, method: :post do %>
          
          <% @values.each_with_index do |value,index_row| %>
              <tr>
              	<% value.each_with_index do |column_value, column_index| %>

                      <% class_name = index_row.to_s+"_"+column_index.to_s %>

                      <% if !(column_value == nil) %>
                          <td><input class="td-import-table-settings" type="text" name="<%= index_row %>_<%=column_index %> " value="<%= column_value %>"></td>
                      <% else %>
                          <td><input class="td-import-table-settings" type="text" name="<%= index_row %>_<%=column_index %>"></td>
                      <% end %>
                  
                
                <% end %>
              </tr>
          <% end %>
          
          <%= submit_tag "Update Import" %>
      <% end %>

    </tbody>

  </table>
</div>



