<div id="title" class="jumbotron">
  <br/>
  <h1><%= @user.client_company.name if @user.client_company %> Lead List</h1>
</div>



<div class = 'thin_margins'>
  <div id="accordion">
    <div class="card">
      <div class="card-header" id="warmLeadsHeader">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#warmLeads" aria-expanded="true" aria-controls="warmLeads">
            Warm Leads
          </button>
        </h5>
      </div>

      <div id="warmLeads" class="collapse show" aria-labelledby="warmLeadsHeader">
        <div class="card-body">
          <% if @warm_opps.count == 0 %>
            <p> No warm leads </p>
          <% else %>
            <div class = "warm_leads" style="overflow: auto;">
              <table class = " airtable_data table table-striped">
                <thead class = "thead-dark">
                  <tr>
                    <% @warm_opps[0].column_mappings.values.each do |column_map| %>
                      <% if column_map != "campaign" && column_map != "Product" && column_map != "notes" && column_map != "last_touchpoint" && column_map != "lead_status" %>
                        <th scope = 'col'><%= column_map %></th>
                      <% end %>
                    <% end %>
                  </tr>
                </thead>

                <tbody>
                  <% @warm_opps.each do |lead| %>
                    <tr>
                      <% lead.fields.each do |field| %>
                        <% if field[0] != "campaign" && field[0] != "Product" && field[0] != "notes" && field[0] != "last_touchpoint" && field[0] != "lead_status" %>
                          <td> <%= field[1] %></td>
                        <% end %>
                      <% end %>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="qualifiedLeadsHeader">
        <h5 class="mb-0">
          <button class= "btn btn-link" data-toggle="collapse" data-target="#qualifiedLeads" aria-expanded="true" aria-controls="qualifiedLeads">
            Qualified Leads
          </button>
        </h5>
      </div>

      <div id="qualifiedLeads" class="collapse" aria-labelledby="qualifiedLeadsHeader">
        <div class="card-body">
          <% if @qualified_opps.count == 0 %>
            <p> No qualified leads </p>
          <% else %>
            <div class = "qualified_leads" style="overflow: auto;">
              <table class = " airtable_data table table-striped">
                <thead class = "thead-dark">
                  <tr>
                    <% @qualified_opps[0].column_mappings.values.each do |column_map| %>
                      <% if column_map != "campaign" && column_map != "Product" && column_map != "notes" && column_map != "last_touchpoint" && column_map != "lead_status" && column_map != "follow_up_date" && column_map != "follow_up_aciton" && column_map != "interest_signal" && column_map != "follow_up_date" && column_map != "follow_up_action" %>
                        <th scope = 'col'><%= column_map %></th>
                      <% end %>
                    <% end %>
                  </tr>
                </thead>

                <tbody>
                  <% @qualified_opps.each do |lead| %>
                    <tr>
                      <% lead.fields.each do |field| %>
                        <% if field[0] != "campaign" && field[0] != "Product" && field[0] != "notes" && field[0] != "last_touchpoint" && field[0] != "lead_status" && field[0] != "follow_up_date" && field[0] != "interest_signal" && field[0] != "follow_up_date" && field[0] != "follow_up_action"%>
                          <td> <%= field[1] %></td>
                        <% end %>
                      <% end %>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="pendingLeadsHeader">
        <h3 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#pendingLeads" aria-expanded="true" aria-controls="pendingLeads">
            Pending Leads
          </button>
        </h5>
      </div>

      <div id="pendingLeads" class="collapse" aria-labelledby="pendingLeadsHeader">
        <div class="card-body">
          <% if @pending_opps.count == 0 %>
            <p> No pending leads </p>

          <% else %>
            <div class = "pending_leads" style="overflow: auto;">
              <table class = " airtable_data table table-striped">
                  <thead class = "thead-dark">
                    <tr>
                      <% @pending_opps[0].column_mappings.values.each do |column_map| %>
                        <% if column_map != "campaign" && column_map != "Product" && column_map != "notes" && column_map != "handed_off_to" && column_map !="predicted_deal_size" && column_map !="contract_stage" && column_map != "lead_status" %>
                          <th scope = 'col'><%= column_map %></th>
                        <% end %>
                      <% end %>
                    </tr>
                  </thead>

                  <tbody>
                    <% @pending_opps.each do |lead| %>
                      <tr>
                        <% lead.fields.each do |field| %>
                          <% if field[0] != "campaign" && field[0] != "Product" && field[0] != "notes" && field[0] != "handed_off_to" && field[0] !="predicted_deal_size" && field[0] !="contract_stage"  && field[0] != "lead_status"%>
                            <td> <%= field[1] %></td>
                          <% end %>
                        <% end %>
                      </tr>
                    <% end %>
                  </tbody>
              </table>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
