<div id="title" class="jumbotron">
  <br/>
  <h1><%= @user.client_company.name if @user.client_company %> Lead List</h1>
</div>



<div class = 'thin_margins'>
  <div id="accordion">
    <div class="card">
      <div class="card-header" id="warmLeadsHeader">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#warmLeads" aria-expanded="true" aria-controls="warmLeads">
            Meetings Set
          </button>
        </h5>
      </div>

      <div id="warmLeads" class="collapse show" aria-labelledby="warmLeadsHeader">
        <div class="card-body">
          <% if @meeting_set.count == 0 %>
            <p> No Meetings Set </p>
          <% else %>
            <div class = "warm_leads" style="overflow: auto;">
              <table class = " airtable_data table table-striped">
                <thead class = "thead-dark">
                  <tr>

                        <th scope = 'col'>date sourced</th>
                        <th scope = 'col'>first_name</th>
                        <th scope = 'col'>last_name</th>
                        <th scope = 'col'>email</th>
                        <th scope = 'col'>handed off to:</th>
                        <th scope = 'col'>email used</th>
                        <th scope = 'col'>meeting date</th>


                  </tr>
                </thead>

                <tbody>
                  <% @meeting_set.each do |lead| %>
                    <tr>

                          <td> <%= lead.date_sourced %></td>
                          <td> <%= lead.first_name %></td>
                          <td> <%= lead.last_name %></td>
                          <td> <%= lead.email %></td>
                          <td> <%= lead.email_handed_off_too %></td>
                          <td> <%= lead.email_in_contact_with %></td>
                          <td> <%= lead.meeting_time %></td>



                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          <% end %>
        </div>
      </div>
    </div>


    <div class="card">
      <div class="card-header" id="qualifiedLeadsHeader">
        <h5 class="mb-0">
          <button class= "btn btn-link" data-toggle="collapse" data-target="#qualifiedLeads" aria-expanded="true" aria-controls="qualifiedLeads">
            Interested Leads
          </button>
        </h5>
      </div>

      <div id="qualifiedLeads" class="collapse" aria-labelledby="qualifiedLeadsHeader">
        <div class="card-body">
          <% if @interested_leads.count == 0 %>
            <p> No Interested Leads </p>
          <% else %>
            <div class = "warm_leads" style="overflow: auto;">
              <table class = " airtable_data table table-striped">
                <thead class = "thead-dark">
                  <tr>
                        <th scope = 'col'>date sourced</th>
                        <th scope = 'col'>first_name</th>
                        <th scope = 'col'>last_name</th>
                        <th scope = 'col'>email</th>
                        <th scope = 'col'>handed off to:</th>
                        <th scope = 'col'>email used</th>
                        <th scope = 'col'>meeting date</th>

                  </tr>
                </thead>

                <tbody>
                  <% @interested_leads.each do |lead| %>
                    <tr>

                          <td> <%= lead.date_sourced %></td>
                          <td> <%= lead.first_name %></td>
                          <td> <%= lead.last_name %></td>
                          <td> <%= lead.email %></td>
                          <td> <%= lead.email_handed_off_too %></td>
                          <td> <%= lead.email_in_contact_with %></td>
                          <td> <%= lead.meeting_time %></td>



                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="pendingLeadsHeader">
        <h3 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#pendingLeads" aria-expanded="true" aria-controls="pendingLeads">
            Blacklist
          </button>
        </h5>
      </div>

      <div id="pendingLeads" class="collapse" aria-labelledby="pendingLeadsHeader">
        <div class="card-body">
          <% if @blacklist.count == 0 %>
            <p> No Blacklist </p>

          <% else %>
            <div class = "warm_leads" style="overflow: auto;">
              <table class = " airtable_data table table-striped">
                <thead class = "thead-dark">
                  <tr>
                        <th scope = 'col'>date sourced</th>
                        <th scope = 'col'>first_name</th>
                        <th scope = 'col'>last_name</th>
                        <th scope = 'col'>email</th>
                        <th scope = 'col'>handed off to:</th>
                        <th scope = 'col'>email used</th>
                        <th scope = 'col'>meeting date</th>

                  </tr>
                </thead>

                <tbody>
                  <% @blacklist.each do |lead| %>
                    <tr>

                          <td> <%= lead.date_sourced %></td>
                          <td> <%= lead.first_name %></td>
                          <td> <%= lead.last_name %></td>
                          <td> <%= lead.email %></td>
                          <td> <%= lead.email_handed_off_too %></td>
                          <td> <%= lead.email_in_contact_with %></td>
                          <td> <%= lead.meeting_time %></td>



                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          <% end %>
        </div>
      </div>




      <div class="card">
      <div class="card-header" id="qualifiedLeadsHeader">
        <h5 class="mb-0">
          <button class= "btn btn-link" data-toggle="collapse" data-target="#customer_accounts" aria-expanded="true" aria-controls="qualifiedLeads">
            Client Accounts
          </button>
        </h5>
      </div>

      <div id="customer_accounts" class="collapse" aria-labelledby="qualifiedLeadsHeader">
        <div class="card-body">
          <% if @accounts.count == 0 %>
            <p> No Client Accounts </p>
          <% else %>
            <div class = "warm_leads" style="overflow: auto;">
              <table class = " airtable_data table table-striped">
                <thead class = "thead-dark">
                  <tr>
                        <th scope = 'col'>name</th>
                        <th scope = 'col'>website</th>
                        <th scope = 'col'>do not contact?</th>

                  </tr>
                </thead>

                <tbody>
                  <% @accounts.each do |account| %>
                    <tr>

                          <td> <%= account.name %></td>
                          <td> <%= account.website %></td>
                          <td> <%= account.do_not_contact.to_s %></td>

                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          <% end %>
        </div>
      </div>
    </div>





    </div>
  </div>
</div>
