<div id="title" class="jumbotron">

  <% if flash[:error].present? or flash[:notice].present? %>
      <center>
        <p class="container text-danger"><%= flash[:error] %></p>
        <p class="container text-success"><%= flash[:notice] %></p>
      </center>
  <% end %>

  <br>

  <h1>Lead List</h1>

</div>


<div class = 'thin_margins' data-no-turbolink="true">
  <div>

    <% if current_user.role == "scalerep" %>
      <%= render 'leads/scalerep_admin_portal' %>
    <% else %>
      <div class="controls">
          <div>
              <%= form_tag(leads_path, method: :get) do %>
                <%= text_field_tag 'search', nil, placeholder:"  name, email, or company", size:40  %>
                <%= submit_tag ("Search"), :class=>"btn-sm btn-primary"%>
              <% end %>
          </div>

          <div>
            <%= form_tag(leads_path, method: :get) do %>
              <%= select_tag :leadstatus, options_for_select(@dropdown),:include_blank => 'All Statuses', prompt: "Filter by Status", :onchange => "this.form.submit();" %>
            <% end %>
          </div>
      </div>

      <%= render 'layouts/leads_table' %>
    </div>
  </div>
  <% end %>



<script>
  $(document).ready(function() {

    if(GetURLParameter('tab_id') != undefined) {
      goToHash(GetURLParameter('tab_id'))
    }
  });


  function GetURLParameter(sParam)
  {
      var sPageURL = window.location.search.substring(1);
      var sURLVariables = sPageURL.split('&');
      for (var i = 0; i < sURLVariables.length; i++)
      {
          var sParameterName = sURLVariables[i].split('=');
          if (sParameterName[0] == sParam)
          {
              return sParameterName[1];
          }
      }
  }

  function goToHash(type) {
    $('.nav-tabs a[href="#' + type + '"]').tab('show');
  }
</script>
