<div id="title" class="jumbotron">
  <br/>
  <h1><%= @user.client_company.name if @user.client_company %> Lead List</h1>
</div>



<div class = 'thin_margins'>
  <div id="accordion">
    






    <div class="card">
      
      <div class="card-header" id="meetingsSetHeader">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#meetingsSet" aria-expanded="true" aria-controls="meetingsSet">
            Meetings Set
          </button>
        </h5>
      </div>


      <% if @current_table == "meetingsSet" %>
        <div id="meetingsSet" class="collapse show" aria-labelledby="meetingsSetHeader">
      <% else %>
        <div id="meetingsSet" class="collapse" aria-labelledby="meetingsSetHeader">
      <% end %>
          <div class="card-body">
            <% if @meetings_set.count == 0 %>
              <p> No Meetings Set </p>
            <% else %>
              <div style="overflow: auto;">
                <table class = " airtable_data table table-striped">
                  <thead class = "thead-dark">
                    <tr>

                          <th scope = 'col'>date sourced</th>
                          <th scope = 'col'>first_name</th>
                          <th scope = 'col'>last_name</th>
                          <th scope = 'col'>email</th>
                          <th scope = 'col'>handed off to:</th>
                          <th scope = 'col'>email used</th>
                          <th scope = 'col'>meeting date</th>


                    </tr>
                  </thead>

                  <tbody>
                    <% @meetings_set.each do |lead| %>
                      <tr>

                            <td> <%= lead.date_sourced %> </td>
                            <td> <%= lead.first_name %> </td>
                            <td> <%= lead.last_name %> </td>
                            <td> <%= lead.email %> </td>
                            <td> <%= lead.email_handed_off_too %></td>
                            <td> <%= lead.email_in_contact_with %></td>
                            <td> <%= lead.meeting_time %></td>

                      </tr>
                    <% end %>
                  </tbody>
                </table>
                <div class="digg_pagination">
                    <div class="page_info">
                      <%= page_entries_info @meetings_set %>
                    </div>
                    <%= will_paginate @meetings_set, :params => { :table_id => :blacklist }, :container => false %>
                </div>
                
              </div>
            <% end %>
        </div>
      </div>
    </div>


    <div class="card">
      
      <div class="card-header" id="interestedLeadsHeader">
        <h5 class="mb-0">
          <button class= "btn btn-link" data-toggle="collapse" data-target="#interestedLeads" aria-expanded="true" aria-controls="interestedLeads">
            Interested Leads
          </button>
        </h5>
      </div>

      <% if @current_table == "interestedLeads" %>
        <div id="interestedLeads" class="collapse show" aria-labelledby="interestedLeadsHeader">
      <% else %>
        <div id="interestedLeads" class="collapse" aria-labelledby="interestedLeadsHeader">
      <% end %>
          <div class="card-body">
            <% if @interested_leads.count == 0 %>
              <p> No Interested Leads </p>
            <% else %>
              <div style="overflow: auto;">
                <table class = " airtable_data table table-striped">
                  <thead class = "thead-dark">
                    <tr>
                          <th scope = 'col'>date sourced</th>
                          <th scope = 'col'>first_name</th>
                          <th scope = 'col'>last_name</th>
                          <th scope = 'col'>email</th>
                          <th scope = 'col'>handed off to:</th>
                          <th scope = 'col'>email used</th>
                          <th scope = 'col'>meeting date</th>

                    </tr>
                  </thead>

                  <tbody>
                    <% @interested_leads.each do |lead| %>
                      <tr>

                            <td> <%= lead.date_sourced %></td>
                            <td> <%= lead.first_name %></td>
                            <td> <%= lead.last_name %></td>
                            <td> <%= lead.email %></td>
                            <td> <%= lead.email_handed_off_too %></td>
                            <td> <%= lead.email_in_contact_with %></td>
                            <td> <%= lead.meeting_time %></td>



                      </tr>
                    <% end %>
                  </tbody>
                </table>
                <div class="digg_pagination">
                    <div class="page_info">
                      <%= page_entries_info @interested_leads %>
                    </div>
                    <%= will_paginate @interested_leads, :params => { :table_id => :blacklist }, :container => false %>
                </div>
              </div>
          <% end %>
          </div>
        </div>
    </div>

    


    <div class="card">
      


      <div class="card-header" id="blacklistHeader">
        <h3 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#blacklist" aria-expanded="true" aria-controls="blacklist">
            Blacklist
          </button>
        </h5>
      </div>

      <% if @current_table == "blacklist" %>
        <div id="blacklist" class="collapse show" aria-labelledby="blacklistHeader">
      <% else %>
        <div id="blacklist" class="collapse" aria-labelledby="blacklistHeader">
      <% end %>
        <div class="card-body">
          <% if @blacklist.count == 0 %>
            <p> No Blacklist </p>

          <% else %>
            <div style="overflow: auto;">
              <table class = " airtable_data table table-striped">
                <thead class = "thead-dark">
                  <tr>
                        <th scope = 'col'>date sourced</th>
                        <th scope = 'col'>first_name</th>
                        <th scope = 'col'>last_name</th>
                        <th scope = 'col'>email</th>
                        <th scope = 'col'>handed off to:</th>
                        <th scope = 'col'>email used</th>
                        <th scope = 'col'>meeting date</th>

                  </tr>
                </thead>

                <tbody>
                  <% @blacklist.each do |lead| %>
                    <tr>

                          <td> <%= lead.date_sourced %></td>
                          <td> <%= lead.first_name %></td>
                          <td> <%= lead.last_name %></td>
                          <td> <%= lead.email %></td>
                          <td> <%= lead.email_handed_off_too %></td>
                          <td> <%= lead.email_in_contact_with %></td>
                          <td> <%= lead.meeting_time %></td>



                    </tr>
                  <% end %>
                </tbody>
              </table>

              <div class="digg_pagination">
                  <div class="page_info">
                    <%= page_entries_info @blacklist %>
                  </div>
                  <%= will_paginate @blacklist, :params => { :table_id => :blacklist }, :container => false %>
              </div>

            </div>
          <% end %>
          </div>
        </div>
      </div>




      <div class="card">
        

        <div class="card-header" id="qualifiedLeadsHeader">
          <h5 class="mb-0">
            <button class= "btn btn-link" data-toggle="collapse" data-target="#customer_accounts" aria-expanded="true" aria-controls="qualifiedLeads">
              Client Accounts
            </button>
          </h5>
        </div>

        <% if @current_table == "customer_accounts" %>
          <div id="customer_accounts" class="collapse show" aria-labelledby="qualifiedLeadsHeader">
        <% else %>
          <div id="customer_accounts" class="collapse" aria-labelledby="qualifiedLeadsHeader">
        <% end %>
          <div class="card-body">
            <% if @accounts.count == 0 %>
              <p> No Client Accounts </p>
            <% else %>
              <div style="overflow: auto;">
                

                <table class = " airtable_data table table-striped">
                  <thead class = "thead-dark">
                    <tr>
                          <th scope = 'col'>name</th>
                          <th scope = 'col'>website</th>
                          <th scope = 'col'>do not contact?</th>

                    </tr>
                  </thead>

                  <tbody>
                    <% @accounts.each do |account| %>

                      <tr>

                            <td> <%= account.name %></td>
                            <td> <%= account.website %></td>
                            <td> <%= account.do_not_contact.to_s %></td>

                      </tr>
                    <% end %>
                  </tbody>

                </table>

                <div class="digg_pagination">
                  <div class="page_info">
                    <%= page_entries_info @accounts %>
                  </div>
                  <%= will_paginate @accounts, :params => { :table_id => :customer_accounts }, :container => false %>
                </div>

            <% end %>

          </div>
      </div>
      </div>




  </div>
</div>
