<div class="jumbotron">
  
  <% if flash[:error].present? or flash[:notice].present? %>
      <center>
        <p class="container text-danger"><%= flash[:error] %></p>
        <p class="container text-success"><%= flash[:notice] %></p>
      </center>
  <% end %>

  <br>

  <h1>Lead: <%= @lead.first_name if @lead.first_name %> <%= @lead.last_name if @lead.last_name %></h1>
  <h2> Status: <%= @lead.status %></h2>
</div>

<div class="thin_margins">

  <h2> Lead Actions </h2>

  <div style="overflow: auto;">
    <% if @lead_actions.empty? %>
      <p> No leads action </p>
    <% else %>
      <table class = " airtable_data table table-hover" id="leads-table">
        
        <thead>
          <tr>
            <th data-field="state" data-checkbox="true"></th>
            <th>Action</th>
            <th>Date</th>
            <th>Touchpoint</th>
          </tr>
        </thead>

        <tbody>
          <% @lead_actions.each do |lead_action| %>
            <tr id="<%= lead_action.id %>" >

                <td>&nbsp;</td> 

                <td> <%= lead_action.action %> </td>
                
                <td> <%= lead_action.created_at %> </td>

                <td> <%= lead_action.touchpoint.email_body.to_s %></td>

            </tr>
          <% end %>
        </tbody>

      </table>
      
      <div class="digg_pagination">
        <div class="page_info">
          <%= page_entries_info @lead_actions %>
        </div>
        <%= will_paginate @lead_actions, :params => { :tab_id => :current }, :container => false %>
      </div>

    <% end %>
  </div>
  
</div>

<div class="thin_margins">

  <h2> Touchpoints </h2>

  <div style="overflow: auto;">
    <% if @touchpoints.empty? %>
      <p> No touchpoints </p>
    <% else %>
      <table class="airtable_data table table-hover">
        
        <thead>
          <tr>
            <th data-field="state" data-checkbox="true"></th>
            <th>Date</th>
            <th>Sender</th>
            <th>Subject</th>
            <th>Body</th>
          </tr>
        </thead>

        <tbody>
          <% @touchpoints.each do |touchpoint| %>
            <tr id="<%= touchpoint.id %>" >

                <td>&nbsp;</td> 

                <td> <%= touchpoint.created_at %> </td>
                
                <td> <%= touchpoint.sender_email %> </td>

                <td> <%= touchpoint.email_subject %></td>

                <td> <%= touchpoint.email_body %></td>

            </tr>
          <% end %>
        </tbody>

      </table>
      
      <div class="digg_pagination">
        <div class="page_info">
          <%= page_entries_info @touchpoints %>
        </div>
        <%= will_paginate @touchpoints, :params => { :tab_id => :current }, :container => false %>
      </div>

    <% end %>
  </div>
  
</div>


