<div class="jumbotron">

  <% if flash[:error].present? or flash[:notice].present? %>
      <center>
        <p class="container text-danger"><%= flash[:error] %></p>
        <p class="container text-success"><%= flash[:notice] %></p>
      </center>
  <% end %>

  <br>

  <h1>Lead: <%= @lead.first_name if @lead.first_name %> <%= @lead.last_name if @lead.last_name %></h1>
  <h2> Status: <%= @lead.status %></h2>
  <br>
  <h4>Touches: <%= @touchpoints_count %> &nbsp;&nbsp; Actions: <%= @lead_actions_count %> &nbsp;&nbsp; Replies: <%= @reply_count %> </h4>
</div>


<div class="thin_margins">
  <h2>Lead History</h2>
  <table class = " airtable_data table table-hover">

    <% @lead_history.each do |event| %>
      <tr>
        <td>
          <%= event.created_at.strftime("%a, %b %d") %><br><span class="small_text"><%= event.created_at.strftime("%H:%M") %> UTC
        </td>

        <td>
          <div class="history">
            <% if event.is_a?(Touchpoint) %>
              <p>Sent <b><%= event.channel %></b> to <%= @lead.first_name if @lead.first_name %></p>
              <% if event.channel=="email" %>
                <div class="card" style="width:50%;">
                  <div class="card-body">
                    <h6 class="card-title"> <%= event.email_subject %> </h6>
                    <p class="card-text"><% if event.email_body.length > 80 %><%= strip_tags(event.email_body)[0...80] +"..." %> <% else %> <%=strip_tags(event.email_body)%><% end %></p>
                  </div>
                </div>
              <% end %>

            <% elsif event.is_a?(CampaignReply) %>
                <p><%= @lead.first_name if @lead.first_name %> <b>Replied</b></p>
                <% if event.last_conversation_subject.present? or event.last_conversation_summary.present? %>
                  <div class="card" style="width:50%;">
                    <div class="card-body">
                      <h6 class="card-title"> <%= event.last_conversation_subject %> </h6>
                      <p class="card-text"><% if event.last_conversation_summary.length > 80 %><%= strip_tags(event.last_conversation_summary)[0...80] +"..." %> <% else %> <%=strip_tags(event.last_conversation_summary)%><% end %></p>
                    </div>
                  </div>
                <% end %>

            <% else %> <!--lead_action! -->
              <p><%= event.touchpoint.channel %> was <b>
                <% if event.action == "open"%> opened <% elsif event.action == "bounce" %> bounced <%else %>opted out <% end %></p>
              </b>
              <span class="small_text"><b><%=event.touchpoint.email_subject %></b> &nbsp; &nbsp;<% if event.touchpoint.email_body.length > 80 %><%= strip_tags(event.touchpoint.email_body)[0...80] +"..." %> <% else %> <%= strip_tags(event.touchpoint.email_body) %><% end %></span>
            <% end %>

          </div>
        </td>

    </tr>
    <% end %>
  </table>
</div>
