<div class="jumbotron">

  <% if flash[:error].present? or flash[:notice].present? %>
      <center>
        <p class="container text-danger"><%= flash[:error] %></p>
        <p class="container text-success"><%= flash[:notice] %></p>
      </center>
  <% end %>

  <br>

  <h1>Lead: <%= @lead.first_name if @lead.first_name %> <%= @lead.last_name if @lead.last_name %></h1>
  <h2> Status: <%= @lead.status %></h2>
  <br>
  <h4>Touches: <%= @touchpoints_count %> &nbsp;&nbsp; Actions: <%= @lead_actions_count %> &nbsp;&nbsp; Replies: <%= @reply_count %> </h4>
</div>


<div class="thin_margins">
  <h2>Lead History</h2>
  <table class = " airtable_data table table-hover">

    <% @lead_history_array.each do |event| %>
      <tr>
        <td>
          <%= event[0].strftime("%a, %b %d") %><br><span class="small_text"><%= event[0].strftime("%H:%M") %> UTC
        </td>

        <td>
          <div class="history">
            <% if event[1] == "touchpoint" %>
              <p>Sent <b><%= event[2] %></b> to <%= @lead.first_name if @lead.first_name %></p>
              <% if event[2]=="email" %>
                <div class="card" style="width:50%;">
                  <div class="card-body">
                    <h6 class="card-title"> <%= event[3] %> </h6>
                    <p class="card-text"><% if event[4].length > 80 %><%= strip_tags(event[4])[0...80] +"..." %> <% else %> <%=strip_tags(event[4])%><% end %></p>
                  </div>
                </div>
              <% end %>

            <% elsif event[1] == "reply" %>
                <p><%= @lead.first_name if @lead.first_name %> <b>Replied</b></p>
                <% if event[3].present? or event[4].present? %>
                  <div class="card" style="width:50%;">
                    <div class="card-body">
                      <h6 class="card-title"> <%= event[3] %> </h6>
                      <p class="card-text"><% if event[4].length > 80 %><%= strip_tags(event[4])[0...80] +"..." %> <% else %> <%=strip_tags(event[4])%><% end %></p>
                    </div>
                  </div>
                <% end %>

            <% else %> <!--lead_action! -->
              <p><%= event[3] %> was <b>
                <% if event[2] == "open"%> opened <% elsif event[2] == "bounce" %> bounced <%else %>opted out <% end %></p>
              </b>
              <span class="small_text"><b><%=event[4] %></b> &nbsp; &nbsp;<% if event[5].length > 80 %><%= strip_tags(event[5])[0...80] +"..." %> <% else %> <%= strip_tags(event[5]) %><% end %></span>
            <% end %>

          </div>
        </td>

    </tr>
    <% end %>
  </table>
</div>
