<div id="title" class="jumbotron">

    <% if flash[:error].present? or flash[:notice].present? %>
      <center>
        <p class="container text-danger"><%= flash[:error] %></p>
        <p class="container text-success"><%= flash[:notice] %></p>
      </center>
    <% end %>

    <h1>Common Replies</h1>

    <% if @user.role == 'scalerep' %>
        <div>
          <%= form_tag({}, {:method => :get}) do %>
            <%= label_tag  'select company:' %>
                  <%= select_tag :client_company, options_for_select(@client_companies, @company.name), :onchange => "this.form.submit();" %>
          <% end %>
        </div>
    <% end %>

    <div>
      <%= link_to '+ Reply', new_common_reply_path(company_api_key: @company.api_key), :class=>"add_campaign btn btn-primary btn-xl page-scroll" %>
    </div>
</div>

<div class="table-display thin_margins border-sf-option">
  <table class="table table-hover template-table">

    <thead class="thead">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Common Message</th>
        <th scope="col">Reply</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>

    <tbody>
      <% @common_replies.each do |common_reply| %>
        <tr>

          <td><b><%= common_reply.name %></b></td>

          <% if common_reply.common_message.length > 80 %>
            <td><%= common_reply.common_message[0...80] +"..." %></td>
          <% else %>
            <td><%= common_reply.common_message %></td>
          <% end %>

          <% if common_reply.reply_message.length > 80 %>
            <td><%= common_reply.reply_message[0...80] +"..." %></td>
          <% else %>
            <td><%= common_reply.reply_message %></td>
          <% end %>

          <td><%= link_to edit_common_reply_path(common_reply) do %>
            <%= octicon "pencil", :height => 20,  :class => "right left", :"aria-label" => "hi" %>
            <% end %>
          </td>

          <td>
            <%= link_to common_reply, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <%= octicon "trashcan", :height => 20,  :class => "right left", :"aria-label" => "hi" %>
            <% end %>
          </td>

        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="digg_pagination">
      <div class="page_info">
          <%= page_entries_info @common_replies %>
      </div>
      <%= will_paginate @common_replies, :params => { :tab_id => :current }, :container => false %>
  </div>

</div>
