<div class="card-body">
  <% if @archive_sorted_metrics_array.count == 0 %>
    <p> No Archived Lead Groups </p>
  <% else %>
    <div style="overflow: auto;">

      <table class = " airtable_data table table-hover">
        <thead class = "thead">
          <tr>
            
            <th>group</th>
            <th>leads</th>
            <th>touchpoints</th>
            <th>CQLs</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @archive_sorted_metrics_array.each do |persona| %>
            <tr >
                <td><%= link_to persona[8], client_companies_persona_path(persona[0]) %></td>

                <td><%= persona[2] %></td>

                <%  if false %>
                    <td><%= persona[3] %></td>

               
                    <td><%= persona[6] %></td>

                    <td>
                        <% if persona[7] < 1 or persona[2] < 1 %>
                          0%
                        <% else %>
                          <%= number_to_percentage(persona[7] / (persona[2] - persona[4]).to_f * 100, precision:1) %>
                                  
                        <% end %>
                        <span class="pct">
                          (<%= persona[7] %>)
                        </span>
                    </td>

                    <td>
                      <% if persona[5] < 1 or persona[2] < 1 %>
                        0%
                      <% else %>
                        <%= number_to_percentage(persona[5] / (persona[2] - persona[4]).to_f * 100, precision:1) %>
                        
                      <% end %>
                      <span class="pct">
                        (<%= persona[5] %>)
                      </span>
                      
                    </td>
                <% end %>

                <td> <%= persona[1] %></td>

                <td>
                  <span title="Edit">
                    <%= link_to edit_client_companies_persona_path(persona) do %>
                        <%= material_icon.edit.md_24 %>
                    <% end %>
                  </span>

                  <span title="Archive - This lead group will no longer be managed">
                    <%= link_to archive_client_companies_personas_path(persona), method: :put  do %>
                      <%= material_icon.unarchive.md_24.style('color: grey;') %>
                    <% end %>
                  </span>

                  <span title="Delete">
                    <%= link_to client_companies_persona_path(persona), method: :delete, data: { confirm: 'Are you sure?' }  do %>
                      <%= material_icon.delete.md_24.style('color: red;') %>
                    <% end %>
                  </span>  
              </td>
            </tr>

          <% end %>
        </tbody>
      </table>

      <div class="digg_pagination">
          <div class="page_info">
            <%= page_entries_info @archive_sorted_metrics_array %>
          </div>
      <%= will_paginate @archive_sorted_metrics_array, :params => { :tab_id => :archive }, :container => false %>
    </div>
    </div>
  <% end %>
</div>
