<div class="card-body">
  <% if @archive.count == 0 %>
    <p> No Archived Lead Groups </p>
  <% else %>
    <div style="overflow: auto;">

      <table class = " airtable_data table table-hover">
        <thead class = "thead">
          <tr>
            
            <th>group</th>
            <th>leads</th>
            <th>touchpoints</th>
            <% if current_user.role == 'scalerep' %>
                <th>bounces</th>
            <% end %>
            <th>views</th>
            <th>unique opens</th>
            <th>replies</th>
            <th>CQLs</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @archive_sorted_metrics_array.each do |persona| %>
            <tr >
                <td><%= link_to persona[8], client_companies_persona_path(persona[0]) %></td>

                <td><%= persona[2] %></td>

                <td><%= persona[3] %></td>

                <% if current_user.role == "scalerep" %>
                  <td><%= persona[4] %></td>
                <% end %>

                <td><%= persona[5] %></td>

                <td><%= persona[6] %></td>

                <td><%= persona[7] %></td>

                <td> <%= persona[1] %></td>

                <td>
                  <span title="Edit">
                    <%= link_to edit_client_companies_persona_path(persona) do %>
                        <%= material_icon.edit.md_24 %>
                    <% end %>
                  </span>

                  <span title="Archive - This lead group will no longer be managed">
                    <%= link_to archive_client_companies_personas_path(persona), method: :put  do %>
                      <%= material_icon.unarchive.md_24.style('color: grey;') %>
                    <% end %>
                  </span>

                  <span title="Delete">
                    <%= link_to client_companies_persona_path(persona), method: :delete, data: { confirm: 'Are you sure?' }  do %>
                      <%= material_icon.delete.md_24.style('color: red;') %>
                    <% end %>
                  </span>  
              </td>

          <% end %>
        </tbody>
      </table>

      <div class="digg_pagination">
          <div class="page_info">
            <%= page_entries_info @archive %>
          </div>
      <%= will_paginate @archive, :params => { :tab_id => :archive }, :container => false %>
    </div>
    </div>
  <% end %>
</div>
