<div class="card-body">
  <% if @archive.count == 0 %>
    <p> No Archived Personas </p>
  <% else %>
    <div style="overflow: auto;">
      <table class = " airtable_data table table-striped">
        <thead class = "thead-dark">
          <tr>
            <th scope="col">persona</th>
            <th scope="col">people</th>
            <th scope="col">delivered</th>
            <th scope="col">bounces</th>
            <th scope="col">replies</th>
            <th scope="col">opens</th>
            <th scope="col"># campaigns</th>
            <th scope="col">edit </th>
            <th scope="col">delete</th>
            <th scope="col">un-archive</th>
          </tr>
        </thead>

        <tbody>
          <% @archive.each do |persona| %>
            <tr >
              <% if @user.role == "scalerep" %>
                <td><%= link_to "#{persona.client_company.name} -- #{persona.name}", client_companies_campaigns_path(persona) %></td>
              <% else %>
                <td><%= link_to persona.name, client_companies_campaigns_path(persona) %></td>
              <% end %>
              
              <%  if @metrics_hash[persona] && @metrics_hash[persona][0] %>
                 <td><%= @metrics_hash[persona][0] %></td>
              <% else %>
                  <td>N/A</td>
              <% end %>

              <%  if @metrics_hash[persona] && @metrics_hash[persona][1] %>
                 <td><%= @metrics_hash[persona][1] %></td>
              <% else %>
                  <td>N/A</td>
              <% end %>

              <%  if @metrics_hash[persona] && @metrics_hash[persona][2] %>
                 <td><%= @metrics_hash[persona][2] %></td>
              <% else %>
                  <td>N/A</td>
              <% end %>

              <%  if @metrics_hash[persona] && @metrics_hash[persona][3] %>

                    <%  if @metrics_hash[persona][0].to_i > @metrics_hash[persona][1].to_i  %>
                      <td><%= @metrics_hash[persona][3] %></td>

                    <% else %>

                      <td><%= @metrics_hash[persona][3] %></td>

                    <% end %>
              <% else %>
                  <td>N/A</td>
              <% end %>

              <%  if @metrics_hash[persona] && @metrics_hash[persona][4] %>
                 <td><%= @metrics_hash[persona][4] %></td>
              <% else %>
                  <td>N/A</td>
              <% end %>

              <%  if @metrics_hash[persona] && @metrics_hash[persona][5] %>
                 <td><%= @metrics_hash[persona][5] %></td>
              <% else %>
                  <td>0</td>
              <% end %>

              <td><%= link_to '+', edit_client_companies_persona_path(persona) %></td>
              <td><%= link_to '--',  client_companies_persona_path(persona),  method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <td><%= link_to 'Yes', archive_client_companies_personas_path(persona), method: :put %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>
