<div class="card-body">
  <% if @current_sorted_metrics_array.count == 0 %>
    <p> No Lead Groups </p>
  <% else %>
    <div>
      <table class = " airtable_data table table-hover">
        <thead class = "thead">
          <tr>
            <th>group</th>
            <th>leads</th>
            <th>contacted</th>
            <th>opened</th>
            <th>responded</th>
            <th>CQLs</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @current_sorted_metrics_array.each do |persona| %>
            <tr >
                <td><%= link_to persona[8], client_companies_persona_path(persona[0]) %></td>

                <td><%= persona[2] %></td>

                <td><%= persona[3] %></td>

                 <td>
                    <% if persona[3] > 0 and persona[6] > 0 %>
                      <%= number_to_percentage(persona[6] / (persona[3]).to_f * 100, precision:1) %>
                    <% else %>
                      0%
                    <% end%>

                    <span class="pct">
                        (<%= persona[6] %>)
                    </span>
                </td>


                <td>
                  <% if persona[3] > 0 and persona[5] > 0 %>
                      <%= number_to_percentage(persona[5] / (persona[3]).to_f * 100, precision:1) %>
                    <% else %>
                      0%
                    <% end%>

                    <span class="pct">
                        (<%= persona[5] %>)
                    </span>
                </td>

                <td> 
                  <% if persona[3] > 0 and persona[1] > 0 %>
                    <%= number_to_percentage(persona[1] / (persona[3]).to_f * 100, precision:1) %>
                  <% else %>
                    0%
                  <% end%>

                  <span class="pct">
                      (<%= persona[1] %>)
                  </span>
                </td>



                <td>
                  <span title="Edit">
                    <%= link_to edit_client_companies_persona_path(persona) do %>
                        <%= material_icon.edit.md_24 %>
                    <% end %>
                  </span>

                  <span title="Archive - This lead group will no longer be managed">
                    <%= link_to archive_client_companies_personas_path(persona), method: :put  do %>
                      <%= material_icon.archive.md_24.style('color: grey;') %>
                    <% end %>
                  </span>

                  <span title="Delete">
                    <%= link_to client_companies_persona_path(persona), method: :delete, data: { confirm: 'Are you sure?' }  do %>
                      <%= material_icon.delete.md_24.style('color: red;') %>
                    <% end %>
                  </span>
              </td>
            </tr>

          <% end %>
        </tbody>
      </table>


      <div class="digg_pagination">
          <div class="page_info">
            <%= page_entries_info @current_sorted_metrics_array %>
          </div>
        <%= will_paginate @current_sorted_metrics_array, :params => { :tab_id => :current }, :container => false %>
      </div>

    </div>
  <% end %>
</div>
