<div class="card-body">
  <% if @current.count == 0 %>
    <p> No Personas </p>
  <% else %>
    <div style="overflow: auto;">
      <table class = " airtable_data table table-hover">
        <thead class = "thead">
          <tr>
            <th scope="col">created date</th>
            <th scope="col">persona</th>
            <th scope="col">people</th>
            <th scope="col">delivered</th>
            
            <% if @user.role == 'scalerep' %>
                <th scope="col">bounces</th>
            <% end %>
            <th scope="col">total opens</th>
            <th scope="col">replies</th>
            
            <th scope="col"># campaigns</th>


            

            <% if @user.role == 'scalerep' %>
              <th scope="col">delete</th>
            <% end %>

            <% if false %>
                <th scope="col">edit </th>
            <% end %>

            <th scope="col">archive</th>

          </tr>
        </thead>

        <tbody>
          <% @current.each do |persona| %>
            <tr >

              <%  if @metrics_hash[persona] && @metrics_hash[persona][6] %>
                 <td><%= @metrics_hash[persona][6] %></td>
              <% else %>
                  <td>N/A</td>
              <% end %>


              <% if @user.role == "scalerep" %>
                <td><%= link_to "#{persona.client_company.name} -- #{persona.name}", client_companies_campaigns_path(persona) %></td>
              <% else %>
                <td><%= link_to persona.name, client_companies_campaigns_path(persona) %></td>
              <% end %>

              <%  if @metrics_hash[persona] && @metrics_hash[persona][0] %>
                 <td><%= @metrics_hash[persona][0] %></td>
              <% else %>
                  <td>N/A</td>
              <% end %>

              <%  if @metrics_hash[persona] && @metrics_hash[persona][1] %>
                 <td><%= @metrics_hash[persona][1] %></td>
              <% else %>
                  <td>N/A</td>
              <% end %>



              <% if @user.role == "scalerep" %>
                  <%  if @metrics_hash[persona] && @metrics_hash[persona][2] %>
                     <td>
                       <% if @metrics_hash[persona] && @metrics_hash[persona][1] && @metrics_hash[persona][1] >0 %>
                          <%= number_to_percentage(@metrics_hash[persona][2] / @metrics_hash[persona][1].to_f * 100, precision:1) %>
                        <% end %>

                       <span class="pct">
                        (<%= @metrics_hash[persona][2] %>)
                         
                       </span>
                     </td>
                  <% else %>
                      <td>N/A</td>
                  <% end %>
              <% end %>


              <%  if @metrics_hash[persona] && @metrics_hash[persona][4] %>
                 <td>
                    <%= @metrics_hash[persona][4] %>
                 </td>
              <% else %>
                  <td>N/A</td>
              <% end %>



              <%  if @metrics_hash[persona] && @metrics_hash[persona][3] %>
                <td>
                  <% if @metrics_hash[persona] && @metrics_hash[persona][1] && @metrics_hash[persona][1] >0 %>
                     <%= number_to_percentage(@metrics_hash[persona][3] / (@metrics_hash[persona][0].to_f - @metrics_hash[persona][2]) * 100, precision:1) %>
                   <% end %>
                  
                  <span class="pct">
                    (<%= @metrics_hash[persona][3] %>)
                  </span>
                </td>
              <% else %>
                  <td>N/A</td>
              <% end %>

              

              <%  if @metrics_hash[persona] && @metrics_hash[persona][5] %>
                 <td><%= @metrics_hash[persona][5] %></td>
              <% else %>
                  <td>0</td>
              <% end %>

              

              <% if @user.role == 'scalerep' %>
                <td>
                  <%= link_to client_companies_persona_path(persona), method: :delete, data: { confirm: 'Are you sure?' }  do %>
                    <%= octicon "trashcan", :height => 20,  :class => "right left", :"aria-label" => "hi" %>
                  <% end %>
                </td>
              <% end %>

              <% if false %>
                  <td>
                    <%= link_to edit_client_companies_persona_path(persona) do %>
                      <%= octicon "pencil", :height => 20,  :class => "right left", :"aria-label" => "hi" %>
                    <% end %>
                  </td>

              <% end %>

              <td>
                    <%= link_to archive_client_companies_personas_path(persona), method: :put  do %>
                      <%= octicon "issue-closed", :height => 20,  :class => "right left", :"aria-label" => "hi" %>
                    <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>

      </table>
      <div class="digg_pagination">
          <div class="page_info">
            <%= page_entries_info @current %>
          </div>
      <%= will_paginate @current, :params => { :tab_id => :current }, :container => false %>
    </div>
    </div>
  <% end %>
</div>
