<div id="title" class="jumbotron">

  <center>
    <p class="container text-danger"><%= flash[:error] %></p>
    <p class="container text-success"><%= flash[:notice] %></p>
  </center>

  <br/>
    <% if @user.role == 'scalerep' %>
      <h1>All Company Personas</h1>
    <% else %>
      <h1>Personas</h1>
      <h3>for <%= @user.client_company.name if @user.client_company %></h3>
    <% end %>
  <br>


<% if @user.role == 'scalerep' %>
  <%= link_to '+ Add Persona', new_client_companies_persona_path, :class=>"add_campaign btn btn-primary btn-xl page-scroll" %>
<% end %>

</div>

<div class = 'thin_margins'>
  <div id="accordion">

    <!-- tab view -->
    <ul class="nav nav-tabs" id="personasTab" role = "tablist" >
      <li class="nav-item">
        <a class="nav-link active" id="current-tab" data-toggle="tab" href="#current" role="tab" aria-controls="home" aria-selected="true">Current</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="archive-tab" data-toggle="tab" href="#archive" role="tab" aria-controls="second" aria-selected="false">Archive</a>
      </li>

    </ul>

    <div class="tab-content", id="personasTabContent">
      <div class="tab-pane fade show active" id="current" role="tabpanel" aria-labelledby="home-tab">
        <%= render 'personas/current' %>
      </div>

      <div class="tab-pane fade" id="archive" role="tabpanel" aria-labelledby="second-tab">
        <%= render 'personas/archive' %>
      </div>

    </div>


  </div>
</div>



<script>
  $(document).ready(function() {

    if(GetURLParameter('tab_id') != undefined) {
      goToHash(GetURLParameter('tab_id'))
    }
  });


  function GetURLParameter(sParam)
  {
      var sPageURL = window.location.search.substring(1);
      var sURLVariables = sPageURL.split('&');
      for (var i = 0; i < sURLVariables.length; i++)
      {
          var sParameterName = sURLVariables[i].split('=');
          if (sParameterName[0] == sParam)
          {
              return sParameterName[1];
          }
      }
  }

  function goToHash(type) {
    $('.nav-tabs a[href="#' + type + '"]').tab('show');
  }
</script>

<style>
  .pct {
    font-size: 12px;
    color: gray;
  }
</style>
