<div class="jumbotron">

    <% if flash[:error].present? or flash[:notice].present? %>
        <center>
            <p class="container text-danger"><%= flash[:error] %></p>
            <p class="container text-success"><%= flash[:notice] %></p>
        </center>
    <% end %>
    <br>

    <h1> <%= @persona.name %> </h1>
    <h2>Lead Group</h2>
    <br/>
    <br>
    <%= link_to 'View Campaigns', client_companies_campaigns_path(@persona), :class=>"" %>
</div>

<div class="thin_margins">
  <div class="controls">
      <div>
          <%= form_tag(client_companies_persona_path(@persona), method: :get) do %>
            <%= text_field_tag 'search', nil, placeholder:"  name, email, or company", size:40  %>
            <%= submit_tag ("Search"), :class=>"btn-sm btn-primary"%>
          <% end %>
          <br>
      </div>

      <div>
        <%= form_tag(client_companies_persona_path(@persona), method: :get) do %>
          <%= select_tag :leadstatus, options_for_select(@dropdown),:include_blank => 'All Statuses', prompt: "Filter by Status", :onchange => "this.form.submit();" %>
        <% end %>
      </div>
  </div>

  <% if @leads.nil? or @leads.empty? %>
      <p> No leads in this group </p>
  <% else %>
    <table class = " airtable_data table table-hover">
      <thead>
        <tr>
          <th><%= sortable "full_name" %></th>
          <th><%= sortable "company_name" %></th>
          <th><%= sortable "status" %></th>
          <th>emails sent</th>
          <th>email opens</th>

        </tr>
      </thead>

      <tbody>
        <% @leads.each do |lead| %>
          <tr data-link="<%= lead_path(lead) %>" id="<%= lead.id %>" style="cursor:pointer;" >
              <td><%= lead.full_name %></td>
              <td><%= lead.company_name %> </td>
              <td>
                <% if lead.status == "handed_off" or lead.status == "handed_off_with_questions" or lead.status == "sent_meeting_invite" %>
                  <span class="alert alert-success"><%= lead.status %></span>
                <% elsif lead.status == "interested" %>
                  <span class="alert alert-primary"><%= lead.status %></span>
                <% elsif lead.status == "cold" or lead.status == "not_interested" %>
                  <span class="alert alert-secondary"><%= lead.status %></span>
                <% elsif lead.status == "do_not_contact" %>
                  <span class="alert alert-danger"><%= lead.status %></span>
                <% else %> <!-- interested -->
                  <span class="alert alert-warning"><%= lead.status %></span>
                <% end %>
              </td>
              <td><%= lead.touchpoints.count%></td>
              <td><%= lead.lead_actions.where(action: "open").count %></td>
          </tr>
        <% end %>
      </tbody>

    </table>

    <div class="digg_pagination">
      <div class="page_info">
        <%= page_entries_info @leads %>
      </div>
      <%= will_paginate @leads, :params => { :tab_id => :current }, :container => false %>
    </div>

  <% end %>
</div>


<script>
  $("tr[data-link]").click(function() {
  window.location = $(this).data("link")
})
</script>
