<div class="jumbotron">

    <% if flash[:error].present? or flash[:notice].present? %>
        <center>
            <p class="container text-danger"><%= flash[:error] %></p>
            <p class="container text-success"><%= flash[:notice] %></p>
        </center>
    <% end %>
    <br>

    <h1> <%= @persona.name %> </h1>
    <h2>Lead Group</h2>
    <br/>
    <br>
    <%= link_to 'View Campaigns', client_companies_campaigns_path(@persona), :class=>"" %>
</div>

<div class="thin_margins">
  <div class="controls">
      <div>
          <%= form_tag(client_companies_persona_path(@persona), method: :get) do %>
            <%= text_field_tag 'search', nil, placeholder:"  name, email, or company", size:40  %>
            <%= submit_tag ("Search"), :class=>"btn-sm btn-primary"%>
          <% end %>
          <br>
      </div>

      <div>
        <%= form_tag(client_companies_persona_path(@persona), method: :get) do %>
          <%= select_tag :leadstatus, options_for_select(@dropdown),:include_blank => 'All Statuses', prompt: "Filter by Status", :onchange => "this.form.submit();" %>
        <% end %>
      </div>
  </div>

  <%= render '/layouts/leads_table' %>
</div>


<script>
  $("tr[data-link]").click(function() {
  window.location = $(this).data("link")
})
</script>
