<div class="jumbotron">

    <% if flash[:error].present? or flash[:notice].present? %>
        <center>
            <p class="container text-danger"><%= flash[:error] %></p>
            <p class="container text-success"><%= flash[:notice] %></p>
        </center>
    <% end %>

    <br>

    <h1>Lead Group</h1>
    <h2> <%= @persona.name %> </h2>
    <%= link_to 'View Campaigns', client_companies_campaigns_path(@persona), :class=>"add_campaign btn btn-primary btn-xl page-scroll" %>
    <br><br> 
</div>



<div class="card-body ">
  <% if @leads.empty? %>
      <p> No leads in this group </p>
  <% else %>


  

    <div>
        <p>Search the table for first names, last names, or emails:</p>
        
        <%= form_tag(client_companies_persona_path(@persona), method: :get) do %>
          <%= text_field_tag(:search) %>
          <%= submit_tag ("Search") %>
        <% end %>
        <br>
    </div>

      

          

    <div style="overflow: auto;">
      <table class = " airtable_data table table-hover" id="leads-table"
                     >
        <thead>
          <tr>
            <th data-field="state" data-checkbox="true"></th>
          	<th data-field="Company"   class="leads_company">Company</th>
            <th data-field="FirstName"   class="leads_first_name">First Name</th>
            <th data-field="LastName"   class="leads_last_name">Last Name</th>
            <th data-field="Email"   class="leads_email">Email</th>
            <th data-field="PhoneNumber"   class="leads_phone_number">Phone Number</th>
            <th data-field="Status" class="leads_status">Status</th>

          </tr>
        </thead>

        <tbody>
          <% @leads.each do |lead| %>
            <tr id="<%= lead.id %>" >

                <td>&nbsp;</td> 

            	  <td> <%= lead.company_name %> </td>
                
                <td> <%= lead.first_name %> </td>

                <td> <%= lead.last_name %> </td>

                <td><%= link_to "#{lead.email}",lead_path(lead)%></td>

                <td><%= lead.phone_number %></td>
				
				        <td> <%= lead.status %></td>

            </tr>
          <% end %>
        </tbody>

      </table>
      
      <div class="digg_pagination">
        <div class="page_info">
          <%= page_entries_info @leads %>
        </div>
        <%= will_paginate @leads, :params => { :tab_id => :current }, :container => false %>
      </div>

    </div>
  <% end %>
</div>




