<div class="table-display">

  <table class="table table-hover">
    
    <thead class="thead">
      <tr>
        <th scope="col">Start Date</th>
        <th scope="col">Campaign</th>
        <th scope="col">Add Leads <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" title="a"></i></th>
        <th scope="col">email Account</th>
        <th scope="col">People</th>
        <th scope="col">Delivered</th>
        <th scope="col">Opens</th>
        <th scope="col">Unique Opens</th>
        <th scope="col">Replies</th>
        <% if @user.role == 'scalerep' %>
            <th scope="col">Un-Archive</th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% @archive.each do |campaign| %>
        <tr>

          <td><%= campaign.created_at.to_time.strftime('%m/%d/%Y') %></td>
          
          <td><%= link_to "#{campaign.campaign_name}", client_companies_campaign_path(campaign.id) %></td>

          <td>
            <%= form_tag campaign_data_data_uploads_path(:campaign => campaign, :persona => campaign.persona ), multipart: true, class:"shorter-column" do %>
              <div class= "fileUpload btn btn-sm btn-light">
                  <span id="uploadPath">upload csv</span>
                  <%= file_field_tag :file, class:"upload uploadBtn"%>
              </div>
              <br/>
              <%= submit_tag "Submit", class: "btn btn-sm btn-outline-primary"%>
            <% end %>
          </td>

          <td><%= campaign.emailAccount %></td>


          <td><%= campaign.peopleCount %></td>


          <td><%= campaign.deliveriesCount %></td>

          
          <td>
            <% if campaign.opensCount > 0 and campaign.deliveriesCount > 0 %>
              <%= number_to_percentage((campaign.opensCount - campaign.bouncesCount) / (campaign.deliveriesCount - campaign.bouncesCount).to_f * 100, precision:1) %>
            <% else %>
              0%
            <% end %>
            <span class="pct">
              <%= campaign.opensCount %>
            </span>
          </td>
          

          <td>
            <% if campaign.uniqueOpens > 0 and campaign.uniquePeopleContacted > 0 %>
                <%= number_to_percentage((campaign.uniqueOpens - campaign.bouncesCount) / (campaign.uniquePeopleContacted - campaign.bouncesCount).to_f * 100, precision:1) %>
            <% else %>
              0%
            <% end %>

            <span class="pct">
                <%= campaign.uniqueOpens %>  
            </span>
          </td>



           <td>
            <% if campaign.repliesCount > 0 and campaign.uniquePeopleContacted > 0 %>
                <%= number_to_percentage(campaign.repliesCount / (campaign.uniquePeopleContacted - campaign.bouncesCount).to_f * 100, precision:1) %>
            <% else %>
              0%
            <% end %>
            <span class="pct">
                <%= campaign.repliesCount %>  
            </span>
          </td>
          

          <% if @user.role == 'scalerep' %>
              <td>
                <%= link_to archive_client_companies_campaigns_path(campaign), method: :put do %>
                  <%= octicon "issue-closed", :height => 20,  :class => "right left", :"aria-label" => "hi" %>
                <% end %>
              </td>
          <% end %>

        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="digg_pagination">
      <div class="page_info">
        <%= page_entries_info @archive %>
      </div>
      <%= will_paginate @archive, :params => { :tab_id => :archive }, :container => false %>
  </div>
    
</div>
