<div class="table-display">

  <table class="table table-hover">
    <thead class="thead">
      <tr>
        <th scope="col">Start Date</th>
        <th scope="col">Campaign</th>
        <th scope="col">Add Leads <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" title="a"></i></th>
        <th scope="col">email Account</th>
        <th scope="col">People</th>
        <th scope="col">Delivered</th>
        <th scope="col">Opens</th>
        <% if @user.role == 'scalerep' %>
            <th scope="col">Bounces</th>
        <% end %>
        <th scope="col">Unique Opens</th>
        <th scope="col">Replies</th>
        
        

        <% if @user.role == 'scalerep' %>
          <th scope="col">Un-Archive</th>
        <% end %>

      </tr>
    </thead>
    <tbody>
      <% @archive.each do |campaign| %>
        <tr>

          <td><%= campaign.created_at.to_time.strftime('%m/%d/%Y') %></td>
          
          <td>
            <%= link_to "#{campaign.campaign_name}", campaign_path(campaign.id) %></td>
          </td>

          <td>
            <%= form_tag import_to_campaign_leads_path(:campaign => campaign, :persona => campaign.persona ), multipart: true, class:"shorter-column" do %>
              <div class= "fileUpload btn btn-sm btn-light">
                <span id="uploadPath">Upload a file</span>
                <%= file_field_tag :file, class:"upload uploadBtn"%>
              </div>
              <br/>
                <%= submit_tag "Submit", class: "btn btn-sm btn-outline-primary"%>
            <% end %>
          </td>

          <td><%= campaign.emailAccount %></td>

          <td><%= campaign.peopleCount %></td>

          <td><%= campaign.deliveriesCount %></td>

          <% if (campaign.opensCount).to_i > 0 %>
            
              <% if campaign && campaign.deliveriesCount && campaign.deliveriesCount >0 %>
                <td><%= campaign.opensCount-campaign.bouncesCount %></td>
              <% else %>
                <td>0</td>
              <% end %>
          <% else %>
            <td>0</td>
          <% end %>



          <% if @user.role == 'scalerep' %>          
              <td>
                <% if campaign && campaign.deliveriesCount && campaign.bouncesCount >0 %>
                   <%= number_to_percentage(campaign.bouncesCount / campaign.deliveriesCount.to_f * 100, precision:0) %>

                  <span class="pct">
                      (<%= campaign.bouncesCount %>)
                  </span>


                <% else %>
                    0%
                 <% end %>
                
               
              </td>
          <% end %>


          <% if !campaign.uniqueOpens.present? %>
              <td>N/A</td>
          <% else %>

              <% if campaign.bouncesCount.present? %>

                <% if (campaign.deliveriesCount).to_i > (campaign.peopleCount).to_i %>
                    <td> <%= reply_rate_calculator(campaign.uniqueOpens - campaign.bouncesCount, campaign.peopleCount-campaign.bouncesCount)%>% 

                    <span class="pct">
                        (<%= campaign.uniqueOpens - campaign.bouncesCount %>) 
                    </span>

                    </td>

                <% else %>
                    <td> <%= reply_rate_calculator(campaign.uniqueOpens - campaign.bouncesCount, campaign.deliveriesCount-campaign.bouncesCount) %>%

                    <span class="pct">
                      (<%= campaign.uniqueOpens - campaign.bouncesCount %>) 
                    </span>

                    </td>

                <% end %>

                

              <% else %>
                  <td>0%</td>
              <% end %>
          <% end %>

          <% if (campaign.repliesCount).to_i > 0 %>
            <td>
              <% if (campaign.deliveriesCount).to_i > (campaign.peopleCount).to_i %>
                 <% if campaign && campaign.deliveriesCount && campaign.deliveriesCount >0 %>
                   
                   <%= reply_rate_calculator(campaign.repliesCount, campaign.peopleCount - campaign.bouncesCount) %>%
                 <% end %>
                
                <span class="pct">
                    (<%= campaign.repliesCount %>)
                </span>
              <% else %>
                  <% if campaign && campaign.deliveriesCount && campaign.deliveriesCount >0 %>
                    <%= reply_rate_calculator(campaign.repliesCount, campaign.deliveriesCount-campaign.bouncesCount) %>%
                  <% end %>
                
                <span class="pct">
                    (<%= campaign.repliesCount %>)
                </span>
              <% end %>
            </td>
          <% else %>
            <td>0%</td>
          <% end %>


          




          



          <% if @user.role == 'scalerep' %>
              <td>
                <%= link_to archive_client_companies_campaigns_path(campaign), method: :put do %>
                  <%= octicon "issue-closed", :height => 20,  :class => "right left", :"aria-label" => "hi" %>
                <% end %>
              </td>
          <% end %>

        </tr>
      <% end %>
    </tbody>

  </table>

 <div class="digg_pagination">
          <div class="page_info">
            <%= page_entries_info @archive %>
          </div>
      <%= will_paginate @archive, :params => { :tab_id => :archive }, :container => false %>
    </div>

    
</div>
