 <div class="table-display">
  <table class="table table-hover">
    <thead class="thead">
      <tr>
        <th>Start Date</th>
        <th>Campaign</th>
        <th data-toggle="tooltip" data-placement="top" title="Tooltip on top">Add Leads
          <%= material_icon.info.md_24.style('color: grey;') %></th>
        <th>Email Account</th>
        <th>People</th>
        <th>Delivered</th>
        <th>Opens</th>
        <th>Unique Opens</th>
        <th>Replies</th>
        <% if current_user.role == 'scalerep' %>
            <th>Archive</th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% @current.each do |campaign| %>
        <tr>

          <td><%= campaign.created_at.to_time.strftime('%m/%d/%Y') %></td>
          
          <td><%= link_to "#{campaign.campaign_name}", client_companies_campaign_path(campaign.id) %></td>

          <td>
            <%= form_tag data_uploads_path(:campaign => campaign, :persona => campaign.persona), :method => :post, multipart: true, class:"shorter-column" do %>
              <div class= "fileUpload btn btn-sm btn-light">
                  <span id="uploadPath">upload csv</span>
                  <%= file_field_tag :file, class:"upload uploadBtn", accept: 'text/csv' %>
              </div>
              <br/>
              <%= submit_tag "Submit", class: "btn btn-sm btn-outline-primary"%>
            <% end %>
          </td>

          <td><%= campaign.emailAccount %></td>
          <td><%= campaign.peopleCount %></td>
          <td><%= campaign.deliveriesCount %></td>
          <td>
              <%= campaign.opensCount %>
          </td>
          <td>
                <%= campaign.uniqueOpens %>  
          </td>
          <td>
                <%= campaign.repliesCount %>  
          </td>
          <% if current_user.role == 'scalerep' %>
              <td>
                <%= link_to archive_client_companies_campaigns_path(campaign), method: :put do %>
                  <%= octicon "issue-closed", :height => 20,  :class => "right left", :"aria-label" => "hi" %>
                <% end %>
              </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <div class="digg_pagination">
      <div class="page_info">
          <%= page_entries_info @current %>
      </div>
      <%= will_paginate @current, :params => { :tab_id => :current }, :container => false %>
  </div>
  
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $(".uploadBtn").change(function () {
      // alert($(this).parent().children("span"));
      // alert(this.value);
      $(this).parent().children("span").text(this.value.split("\\").pop());
    });
  });
</script>