<div id="title" class="jumbotron">
  <div class = "container">
    <br/>
    <h1><%= @user.client_company.name if @user.client_company %> Campaign List</h1>
  </div>
</div>

<div class="container">
  <%= link_to '+ Add Campaign', new_campaign_path, :class=>"btn btn-primary btn-xl page-scroll" %>
</div>

<div class="container">
  <h2> Campaigns</h2>


  <table class="table table-striped">
    <thead class="thead-light">
      <tr>

        <th scope="col">Name</th>
        <th scope="col"># of contacts</th>
        <th scope="col">Add Leads</th>




      </tr>
    </thead>

    <tbody>
      <% @campaigns.each do |campaign| %>
        <tr>
          <
          <td><%= campaign.name %></td>
          <td><%= campaign.leads.count %></td>
          <td>
            <%= form_tag import_to_campaign_leads_path(:campaign => campaign), multipart: true do %>
              <%= file_field_tag :file %>
              <%= submit_tag "Import CSV" %>
            <% end %>
              
          </td>




        </tr>

      <% end %>
    </tbody>
  </table>
</div>