<div id="title" class="jumbotron">
  <div class = "container">
    <br/>
    <h1>New Campaign</h1>
  </div>
</div>

<div class="container">
  <%= form_for [@client_company,@campaign], :html => {:class => "form-horizontal center"} do |f| %>
      <div class="form-group">
        <%= f.label :name, "Campaign name:", class: "col-md-4 control-label" %>
        <div class="col-md-8">
          <%= f.text_field :name, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :persona, "Persona", class: "col-md-4 control-label" %>
        <div class="col-md-8">
          <%= f.text_field :persona, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :user_notes, "Extra Notes", class: "col-md-4 control-label" %>
        <div class="col-md-8">
          <%= f.text_field :user_notes, class: "form-control" %>
        </div>
      </div>


      

      <%= f.submit "Submit", class: "btn btn-default btn-primary" %>  
  <% end %>
</div>