<div id="title" class="jumbotron">
  <div class = "container">
    <br/>
    <h1>New Campaign</h1>
    <h3> for <%= @persona_name %> </h3>
  </div>
</div>

<div class="container">

  <%= form_for @campaign, url: client_companies_campaigns_path, :html => {:class => "form-horizontal center"} do |f| %>

      <div class="form-group">
        Client Company: <%= @client_company_for_campaign.name %>
      </div>
      <br><br>
      <%= f.hidden_field :client_company, value: @client_company_for_campaign.name %>
      

      <div class="form-group">
          <%= f.label :campaign_name, "campaign name*", class: "control-label" %>

          <%= f.text_field :campaign_name, required: true, class: "form-control" %>

      </div>

      <br>

      <div class="form-group">

          <%= f.label :contactLimit, "campaign contact limit*", class: "control-label" %>
          <%= f.number_field :contactLimit, required: true, :value => 150, class: "form-control" %>

      </div>

      <br>


      <div class="form-group">

          <%= f.label :minimum_email_score, "minimum e-mail score (0-99)", class: "control-label" %>
          <%= f.number_field :minimum_email_score, required: true, :value => 85, class: "form-control" %>

      </div>

      <br>


      <div class="form-group">
          <%= f.label :user_notes, "extra notes (Add extra details for ScaleRep reps here)", class: "control-label" %>

          <%= f.text_area :user_notes, :rows => 5, :col => 5, class: "form-control" %>

      </div>

      <br>

      <% if false %>

          <div class="form-group">
              <%= f.label :personalized, "check if you'd like every e-mail personalized", class: "control-label" %>
 
              <%= f.check_box :personalized, class: "form-control" %>

          </div>

      <% end %>
    

      <%= f.button  :submit , name: "subaction",value: @persona_id, class: "btn btn-default btn-primary" %>  
  <% end %>
</div>