<div id="title" class="jumbotron">
  <center>
    <p class="container text-danger"><%= flash[:error] %></p>
    <p class="container text-success"><%= flash[:notice] %></p>
  </center>

  <br/>
  <h1><%= @campaign.campaign_name %></h1>
  <br>

  <!--
  <p> Campaigns track messaging and e-mail order to improve overall persona metrics.</p>
  <p> ex. <br>
    <i>Baseline campaign</i><br>
    <i>Shorter outbound campaign, using website messaging as reference</i><br>
    <i>General Facebook inbound lead campaign</i><br>
  </p>
  -->
</div>

<div class = 'thin_margins'>
  <div class = "campaign_data">
    <div class="campaign_info_section">
      <span class="campaign_info_header">People in campaign</span>
      <% if (@campaign.peopleCount).to_i > 0 %>
        <span class="campaign_info"><%= @campaign.peopleCount.to_s %></span>
      <% else %>
        0
      <% end %>
    </div>
    <div class="campaign_info_section">
      <span class="campaign_info_header">Delievered Emails</span>
      <% if (@campaign.deliveriesCount).to_i > 0 %>
        <span class="campaign_info"><%= @campaign.deliveriesCount %></span>
      <% else %>
        0
      <% end %>
    </div>



    <div class="campaign_info_section">
      <span class="campaign_info_header">Emails Opened</span>

      <% if (@campaign.opensCount).to_i > 0 %>
        <span class="campaign_info"><%= @campaign.opensCount %></span>
        <span class="campaign_info_pct">
          <% if (@campaign.deliveriesCount).to_i > (@campaign.peopleCount).to_i %>
            <%= number_to_percentage(@campaign.opensCount / @campaign.peopleCount.to_f * 100, precision:0) %>
          <% else %>
            <%= number_to_percentage(@campaign.opensCount / @campaign.deliveriesCount.to_f * 100, precision:0) %>
          <% end %>
        </span>
      <% else %>
        0
      <% end %>
    </div>

    <div class="campaign_info_section">
      <span class="campaign_info_header">Email Replies</span>

      <% if (@campaign.repliesCount).to_i > 0 %>
        <span class="campaign_info"><%= @campaign.repliesCount %></span>
        <span class="campaign_info_pct">
          <% if (@campaign.deliveriesCount).to_i > (@campaign.peopleCount).to_i %>
            <%= number_to_percentage(@campaign.repliesCount / @campaign.peopleCount.to_f * 100, precision:0) %>
          <% else %>
            <%= number_to_percentage(@campaign.repliesCount / @campaign.deliveriesCount.to_f * 100, precision:0) %>
          <% end %>
        </span>
      <% else %>
        0
      <% end %>
    </div>

    <div class="campaign_info_section">
      <span class="campaign_info_header">Bounces</span>

      <% if (@campaign.bouncesCount).to_i > 0 %>
        <span class="campaign_info"><%= @campaign.bouncesCount %></span>
        <span class="campaign_info_pct">
          <% if (@campaign.deliveriesCount).to_i > (@campaign.peopleCount).to_i %>
            <%= number_to_percentage(@campaign.bouncesCount / @campaign.peopleCount.to_f * 100, precision:0) %>
          <% else %>
            <%= number_to_percentage(@campaign.bouncesCount / @campaign.deliveriesCount.to_f * 100, precision:0) %>
          <% end %>
        </span>
      <% else %>
        0
      <% end %>
    </div>
  </div>

  <div class="sequence">
    <% @sequence_array.each do |section| %>
      <div class="card email_template">
        <div class="card-header">
          <% if section['number'] == 1 %>
            First Email
          <% else %>
            Sent <%= section['day'] %> days later
          <% end %>
        </div>
        <div class="card-body">
          <h5 class="card-title">
            <% if section['subject'] && section['subject'] != "" %>
              <%= section['subject'] %>
            <% else %>
              (no subject) - same thread as above email
            <% end %>
          </h5>
          <h6 class="card-subtitle mb-2 text-muted"></h6>
          <div class="card-text"><%= section['body'].html_safe %></div>
        </div>
      </div>
    <% end %>
  </div>
</div>
