<% if @leads.nil? or @leads.empty? %>
    <p> No leads to show </p>
<% else %>
  <div class = "table_options">
    <%= material_icon.check_box_outline_blank.style('color: #007bff;').html(id:"master_checkbox")%>

    <span class="checked_options" style="display: none;">
      <%= material_icon.highlight_off.style('color: gray;').html(data:{action: 'blacklist', content:"blacklist", placement: 'top', trigger: 'hover'}) %>
    </span>

  </div>

  <table class = " airtable_data table table-hover">
    <thead>
      <tr>
        <th></th>
        <th><%= sortable "full_name" %></th>
        <th><%= sortable "company_name" %></th>
        <th><%= sortable "status" %></th>
        <th>emails sent</th>
        <th>email opens</th>

      </tr>
    </thead>

    <tbody>
      <% @leads.each do |lead| %>
        <tr data-link="<%= lead_path(lead) %>" id="<%= lead.id %>" style="cursor:pointer;" >
            <td class="rowCheckbox"><%= check_box_tag('lead_id[]', lead.id,false) %></td>
            <td><%= lead.full_name %></td>
            <td><%= lead.company_name %> </td>
            <td>
              <% if lead.status == "handed_off" or lead.status == "handed_off_with_questions" or lead.status == "sent_meeting_invite" %>
                <span class="alert alert-success"><%= lead.status %></span>
              <% elsif lead.status == "interested" %>
                <span class="alert alert-primary"><%= lead.status %></span>
              <% elsif lead.status == "cold" or lead.status == "not_interested" %>
                <span class="alert alert-secondary"><%= lead.status %></span>
              <% elsif lead.status == "blacklist" %>
                <span class="alert alert-danger"><%= lead.status %></span>
              <% else %> <!-- interested -->
                <span class="alert alert-warning"><%= lead.status %></span>
              <% end %>
            </td>
            <td><%= lead.touchpoints.count%></td>
            <td><%= lead.lead_actions.where(action: "open").count %></td>
        </tr>
      <% end %>
    </tbody>

  </table>

  <div class="digg_pagination">
    <div class="page_info">
      <%= page_entries_info @leads %>
    </div>
    <%= will_paginate @leads, :params => { :tab_id => :current }, :container => false %>
  </div>

<% end %>

<script>
  $(document).ready(function(){
    // listener for master checkbox
    $('.table_options').on("click", '#master_checkbox', function(){
      master_checkbox_toggle();
    });

    // listener to see when a checkbox is selected
    $("input:checkbox").change(function(){
      if($("input:checkbox").length == $("input:checkbox:checked").length) {
        $("#master_checkbox").html('<%= material_icon.check_box.style("color: #007bff;") %>');
      }
      if($("input:checkbox:checked").length > 0) {
        $(".checked_options").show();
      } else {
        $(".checked_options").hide();
        $("#master_checkbox").html('<%= material_icon.check_box_outline_blank.style("color: #007bff;") %>');
      }
    })

    // take action on selected rows
    $("i[data-action]").on("click", function(){
      var checked = $("input:checkbox:checked");
      alert($(this).attr("data-action"));
    });

    // tooltips
    $(".material-icons").popover();
  });

  // toggle checkboxes on / off
  function master_checkbox_toggle() {
    var cbxs = $('input[type="checkbox"]');
    cbxs.prop("checked", !cbxs.prop("checked"));

    // trigger change
    $('input[type="checkbox"]').trigger('change');
  }

  // go to lead/show
  $("tr[data-link]").click(function() {
    window.location = $(this).data("link")
  });

  // stop propagation on checkbox
  $(".rowCheckbox").on("click", function(event) {
    event.stopPropagation();
  });

</script>
