
<nav class="navbar navbar-expand-lg navbar-light" style="margin-bottom:0px;">
  <a class="navbar-brand" href="https://scalerep.com">ScaleRep</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto nav-fill w-50">
      <% if user_signed_in? %>

        <li class="nav-item active"><%= link_to metrics_path() do %>
          Metrics
          <% end %>
        </li>

        <li class="nav-item active"><%= link_to client_companies_personas_path() do %>
          Personas
          <% end %>
        </li>

        <li class="nav-item active"><%= link_to leads_path  do %>
          Leads
          <% end %>
        </li>

        <% if current_user.role == "scalerep" %>
          <li class="nav-item active"><%= link_to data_uploads_path() do %>
              Uploads
          <% end %>
          </li>
        <% end %>

        <li class="dropdown nav-item active">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= octicon "gear", :height => 20,  :class => "right left", :"aria-label" => "hi" %><span class="caret"></span></a>
          <ul class="dropdown-menu">

                <li class="na-left"><%= link_to templates_path()  do %>
                    Templates
                <% end %>
                </li>

                <li class="na-left"><%= link_to common_replies_path()  do %>
                    Replies
                <% end %>
                </li>

                <li class="na-left"><%= link_to salesforces_path()  do %>
                    Salesforce
                <% end %>
                </li>

                <li class="na-left"><%= link_to edit_user_registration_path  do %>
                    Account
                <% end %>
                </li>

                
          </ul>


        <li class="nav-item active"><%= link_to destroy_user_session_path, :method=>'delete'  do %>
          <%= octicon "link-external", :height => 20,  :class => "right left", :"aria-label" => "hi" %>
        <% end %>
        </li>


        <% if false %>
        <li class="nav-item active"> <%= link_to 'Personas', client_companies_personas_path() %></li>
        <li class="nav-item active"> <%= link_to 'Campaigns', client_company_campaigns_path(@user.client_company) %></li>
        <li class="nav-item active"> <%= link_to 'Leads', leads_path %></li>
        <li class="nav-item active"> <%= link_to 'Metrics', metrics_index_path %></li>
        <li class="nav-item active"> <%= link_to 'Edit User', edit_user_registration_path %></li>
        <li class="nav-item active"> <%= link_to 'Edit Account', edit_client_companies_path()%> </li>
        <li class="nav-item active"> <%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %></li>
        <% end %>

      <% end %>
    </ul>
  </div>

</nav>
